<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
        <link href="../assets/css/forum.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <header class="header">
                <div class="header__container">
                    <div class="header__logo">
                        <div class="header__logo--cancer"></div>
                        <div class="header__logo--forum"></div>
                    </div>
                    <nav class="nav">
                        <ul class="menu">
                            <li><a href="" class="menu__name">首頁</a></li>
                            <li><a href="#about" class="menu__name">關於</a></li>
                            <li><a href="#intro" class="menu__name">講者</a></li>
                            <li><a href="#agenda" class="menu__name">議程</a></li>
                            <li>
                                <div class="menu__highlight">
                                    <div class="menu__name">論壇資訊</div>
                                    <ul class="menu__content">
                                        <li><a href="./kh.html" class="btn btn--inblock btn--forumMain"><span class="btn__text"><span class="mbonly">4.18</span> 高雄</span></a></li>
                                        <li><a href="./tc.html" class="btn btn--inblock btn--forumMain"><span class="btn__text"><span class="mbonly">4.19</span> 台中</span></a></li>
                                        <li><a href="./tp.html" class="btn btn--inblock btn--forumMain"><span class="btn__text"><span class="mbonly">4.24</span> 台北</span></a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="#sponsor" class="menu__name">共同推動</a></li>
                            <li><a href="../" class="menu__name">抗癌生活行動</a></li>
                        </ul>
                    </nav>
                    <div class="burger">
                        <div class="burger__wrap">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </header>
            <section class="section" id="download">
                <div class="wrap">
                    <div class="wrapper">

                    </div>
                </div>
            </section>
            <footer class="footer">
                <div class="wrap">
                    <div class="wrapper">
                        <ul>
                            <li><a href="https://www.commonhealth.com.tw/" target="_blank">康健雜誌</a></li>
                            <li><a href="https://www.commonhealth.com.tw/book/index.action" target="_blank">康健出版</a></li>
                            <li><a href="https://www.youtube.com/user/CommonHealthTV" target="_blank">康健影音</a></li>
                            <li><a href="http://kb.commonhealth.com.tw/" target="_blank">康健知識庫</a></li>
                            <li><a href="https://club.commonhealth.com.tw/" target="_blank">大人社團</a></li>
                        </ul>
                        <p>Copyright © 2020 康健雜誌. All rights reserved. 版權所有，禁止擅自轉貼節錄</p>
                    </div>
                </div>
            </footer>
            <div class="bottom__fixed">
                <div class="wrap">
                    <div class="wrapper">
                        <a href="" target="_blank" rel="noopener noreferrer">
                            訂閱抗癌趨勢電子報<span>讓我們主動提供您最新抗癌趨勢，戰勝癌症</span>
                            <button class="btn btn--inblock btn--white btn--xs">
                                <span class="btn__text">免費訂閱</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>