<!-- @@master  = ./_layout.html-->
<!-- @@block  =  title-->
<title>kh</title>
<!-- @@close-->
<!-- @@block  =  content-->
<section class="section" id="ticket">
    <div class="wrap">
        <div class="wrapper">
            <h2 class="title">高雄場報名資訊</h2>
            <div class="info">
                <ul>
                    <li><b>時間：</b>
                        <ul><li>2020.4.18（六）14:00-16:30</li></ul>
                    </li>
                    <li><b>地點：</b>
                        <ul><li>高雄夢時代8F演藝廳（高雄市前鎮區中華五路789號）</ul></li>
                    </li>
                </ul>
            </div>
            <div class="">
            </div>
        </div>
    </div>
</section>
<section class="section" id="notic">
    <div class="wrap">
        <div class="wrapper">
            <div class="notic">
                <h4>注意事項</h4>
                <ol>
                    <li>主辦單位保留議程內容與主講者更動權利。</li>
                    <li>論壇前3日會以簡訊提醒您論壇時間、地點，訂票時請留意您填寫的email及手機資訊正確。</li>
                    <li>論壇不提供劃位，亦無提供對號座位，論壇開始前30分鐘開放入場。</li>
                    <li>其他未盡周全事宜，請依主辦單位公告及場地規則為依據。</li>
                    <li>如有任何問題，請撥打客服專線 <a href="tel:+886-2-26620332,9">(02)2662-0332 轉 9 </a>（週一至週五 9:30-18:00）</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section" id="traffic">
    <div class="wrap">
        <div class="wrapper">
            <h2 class="title">交通資訊</h2>
            <div class="traffic__map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3683.5708191486265!2d120.30473501496004!3d22.595149785171124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e0372ebc9d327%3A0x92317d11de68daf9!2z5aSi5pmC5Luj6LO854mp5Lit5b-DIERyZWFtIE1hbGw!5e0!3m2!1szh-TW!2stw!4v1578362723770!5m2!1szh-TW!2stw" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
            <div class="traffic__info">
                <div class="icon icon__traffic icon__traffic--bus">
                    <h5>公車</h5>
                    <p>15、36、70、214、中華幹線、168環狀東線/西線 請於夢時代站下車，即可抵達</p>
                    <p>3台中車站搭乘仁友客運29號公車至市政路口站，步行約500公尺方可到達</p>
                </div>
                <div class="icon icon__traffic icon__traffic--mrt">
                    <h5>捷運</h5>
                    <p>請搭乘高雄捷運至R6（凱旋站)轉乘輕軌C3（前鎮之星站)至C5（夢時代站）下車</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- @@close-->