<!-- @@master  = ./_layout-forum.html-->
<!-- @@block  =  title-->
<title>精準抗癌✕智慧醫療－康健趨勢論壇 高雄場</title>
<!-- @@close-->
<!-- @@block  =  url-->
<meta property="og:url" content="https://www.commonhealth.com.tw/event/2020/cancer/forum/kh.html">
<!-- @@close-->
<!-- @@block  =  content-->
<section class="section" id="intro" data-city="kh">
    <div class="wrap">
        <div class="wrapper">
            <h2 class="title">高雄場講者</h2>
            <ul class="slides intro__slides"></ul>
        </div>
    </div>
</section>
<section class="section" id="agenda">
    <div class="wrap">
        <div class="wrapper">
            <h2 class="title">高雄場議程</h2>
            <div class="agenda">
                <div class="agenda__info">
                    <div class="agenda__time">14:00-14:20<span>開幕：主辦單位及貴賓致詞、主題影片播放</span></div>
                </div>
            </div>
            <div class="agenda" data-id="1"></div>
            <div class="agenda" data-id="2"></div>
            <div class="break">15:20-15:40 Break</div>
            <div class="agenda" data-id="3"></div>
            <div class="agenda" data-id="4"></div>
            <div class="memo">* 主辦單位保留議程內容與主講者更動權利</div>
        </div>
    </div>
    <div class="agenda__bg agenda__bg--ribbon01"></div>
    <div class="agenda__bg agenda__bg--ribbon02"></div>
    <div class="agenda__bg agenda__bg--ribbon03"></div>
</section>
<section class="section" id="ticket">
    <div class="wrap">
        <div class="wrapper">
            <h2 class="title">高雄場報名資訊</h2>
            <div class="info">
                <ul>
                    <li><b>時間：</b>
                        <ul><li>2020.6.13（六）14:00-16:40（13:30 開放入場）</li></ul>
                    </li>
                    <li><b>地點：</b>
                        <ul><li>高雄統一夢時代8F演藝廳（高雄市前鎮區中華五路789號）</ul></li>
                    </li>
                </ul>
            </div>
            <!-- <div class="form">
                <iframe src="kh-form.html" frameborder="0"></iframe>
            </div> -->
        </div>
    </div>
</section>
<section class="section" id="notic">
    <div class="wrap">
        <div class="wrapper">
            <div class="notic">
                <h4>注意事項</h4>
                <ol>
                    <li>主辦單位保留議程內容與主講者更動權利。</li>
                    <li>論壇前3日會以簡訊提醒您論壇時間、地點，訂票時請留意您填寫的 E-mail 及手機資訊正確。</li>
                    <li>論壇不提供劃位，亦無提供對號座位，論壇開始前30分鐘開放入場。</li>
                    <li>其他未盡周全事宜，請依主辦單位公告及場地規則為依據。</li>
                    <li>如有任何問題，請撥打客服專線 <a href="tel:+886-2-26620332,9">(02)2662-0332 轉 9 </a>（週一至週五 9:30-18:00）</li>
                    <li>防疫措施：
                        <ul>
                            <li>（1）活動當天請參加者務必攜帶醫療用口罩，未戴口罩者不得入場。</li>
                            <li>（2）主辦單位將於活動報到時實施體溫測量，如額溫超過 37.5 度不得入場，並請儘速就醫／返家休息。</li>
                            <li>（3）活動進場前會提供手部消毒清潔液，並請配合工作人員引導入場就座，每人座位保持 1 公尺距離。</li>
                            <li>（4）為配合防疫工作，所有報名者皆需列冊，包括：姓名、電話及通訊地址，請於報名時確實提供資料，恕不接受現場臨時報名。</li>
                            <li>（5）主辦單位將視疫情狀況保留活動異動之權利。</li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section" id="traffic">
    <div class="wrap">
        <div class="wrapper">
            <h2 class="title">交通資訊</h2>
            <div class="traffic__map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3683.5708191486265!2d120.30473501496004!3d22.595149785171124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e0372ebc9d327%3A0x92317d11de68daf9!2z5aSi5pmC5Luj6LO854mp5Lit5b-DIERyZWFtIE1hbGw!5e0!3m2!1szh-TW!2stw!4v1578362723770!5m2!1szh-TW!2stw" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
            <div class="traffic__info">
                <div class="icon icon__traffic icon__traffic--bus">
                    <h5>公車</h5>
                    <p>15、36、70、214、中華幹線、168環狀東線/西線 請於夢時代站下車，即可抵達</p>
                    <p>3台中車站搭乘仁友客運29號公車至市政路口站，步行約500公尺方可到達</p>
                </div>
                <div class="icon icon__traffic icon__traffic--mrt">
                    <h5>捷運</h5>
                    <p>請搭乘高雄捷運至R6（凱旋站)轉乘輕軌C3（前鎮之星站)至C5（夢時代站）下車</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- @@close-->
<!-- @@block  =  bottomFixed-->
<!-- <div class="bottom__fixed pconly">
    <div class="wrap">
        <div class="wrapper">
            <a href="./kh.html#ticket" rel="noopener noreferrer" class="gtm-track" data-action="高雄場" gtm-name="置底bar">
                限量200席
                <button class="btn btn--inblock btn--white btn--xs gtm-track" data-action="高雄場" gtm-name="置底bar">
                    <span class="btn__text">免費報名</span>
                </button>
            </a>
        </div>
    </div>
</div>
<div class="bottom__fixed mbonly">
    <div class="wrap">
        <div class="wrapper">
            <a href="./tp.html#intro" rel="noopener noreferrer" class="btn gtm-track" data-action="高雄場" gtm-name="置底_台北">台北待定</a>
            <a href="./kh.html#ticket" rel="noopener noreferrer" class="btn gtm-track" data-action="高雄場" gtm-name="置底_高雄">6.13 高雄</a>
            <a href="./tc.html#intro" rel="noopener noreferrer" class="btn gtm-track" data-action="高雄場" gtm-name="置底_台中">6.14 台中</a>
        </div>
    </div>
</div> -->
<!-- @@close-->