<!-- @@master  = ./_layout.html-->
<!-- @@block  =  title-->
<title>精準抗癌✕智慧醫療－康健趨勢論壇 台中場</title>
<!-- @@close-->
<!-- @@block  =  url-->
<meta property="og:url" content="https://www.commonhealth.com.tw/event/2020/cancer/forum/tc.html">
<!-- @@close-->
<!-- @@block  =  content-->
<section class="section" id="intro" data-city="tc">
    <div class="wrap">
        <div class="wrapper">
            <h2 class="title">台中場講者</h2>
            <ul class="slides intro__slides"></ul>
        </div>
    </div>
</section>
<section class="section" id="agenda">
    <div class="wrap">
        <div class="wrapper">
            <h2 class="title">台中場議程</h2>
            <div class="agenda">
                <div class="agenda__info">
                    <div class="agenda__time">14:00-14:20<span>開幕：主辦單位及貴賓致詞、主題影片播放</span></div>
                </div>
            </div>
            <div class="agenda" data-id="1"></div>
            <div class="agenda" data-id="2"></div>
            <div class="break">15:20-15:40 Break</div>
            <div class="agenda" data-id="3"></div>
            <div class="agenda" data-id="4"></div>
            <div class="memo">* 主辦單位保留議程內容與主講者更動權利</div>
        </div>
    </div>
    <div class="agenda__bg agenda__bg--ribbon01"></div>
    <div class="agenda__bg agenda__bg--ribbon02"></div>
    <div class="agenda__bg agenda__bg--ribbon03"></div>
</section>
<section class="section" id="ticket">
    <div class="wrap">
        <div class="wrapper">
            <h2 class="title">台中場報名資訊</h2>
            <div class="info">
                <ul>
                    <li><b>時間：</b>
                        <ul><li>2020.6.14（日）14:00-16:40（13:30 開放入場）</li></ul>
                    </li>
                    <li><b>地點：</b>
                        <ul><li>台中豐邑市政都心廣場3F國際會議廳（台中市西屯區市政路386號）</ul></li>
                    </li>
                </ul>
            </div>
            <div class="form">
                <iframe src="tc-form.html" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</section>
<section class="section" id="notic">
    <div class="wrap">
        <div class="wrapper">
            <div class="notic">
                <h4>注意事項</h4>
                <ol>
                    <li>主辦單位保留議程內容與主講者更動權利。</li>
                    <li>論壇前3日會以簡訊提醒您論壇時間、地點，訂票時請留意您填寫的 E-mail 及手機資訊正確。</li>
                    <li>論壇不提供劃位，亦無提供對號座位，論壇開始前30分鐘開放入場。</li>
                    <li>其他未盡周全事宜，請依主辦單位公告及場地規則為依據。</li>
                    <li>如有任何問題，請撥打客服專線 <a href="tel:+886-2-26620332,9">(02)2662-0332 轉 9 </a>（週一至週五 9:30-18:00）</li>
                    <li>防疫措施：
                        <ul>
                            <li>（1）活動當天請參加者務必攜帶醫療用口罩，未戴口罩者不得入場。</li>
                            <li>（2）主辦單位將於活動報到時實施體溫測量，如額溫超過 37.5 度不得入場，並請儘速就醫／返家休息。</li>
                            <li>（3）活動進場前會提供手部消毒清潔液，並請配合工作人員引導入場就座，每人座位保持 1 公尺距離。</li>
                            <li>（4）為配合防疫工作，所有報名者皆需列冊，包括：姓名、電話及通訊地址，請於報名時確實提供資料，恕不接受現場臨時報名。</li>
                            <li>（5）主辦單位將視疫情狀況保留活動異動之權利。</li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section" id="traffic">
    <div class="wrap">
        <div class="wrapper">
            <h2 class="title">交通資訊</h2>
            <div class="traffic__map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14561.46368068854!2d120.6402852!3d24.1588965!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbf2ef3caa101ea02!2z6LGQ6YKR5biC5pS_6YO95b-D5buj5aC0!5e0!3m2!1szh-TW!2stw!4v1578361708307!5m2!1szh-TW!2stw" width="600" height="450" frameborder="0" style="border:0;"  allowfullscreen=""></iframe>
            </div>
            <div class="traffic__info">
                <div class="icon icon__traffic icon__traffic--mat">
                    <h5>台鐵</h5>
                    <p>台中車站搭乘統聯客運75號公車、統聯客運81號公車至市政路口站，步行500公尺方可到達</p>
                    <p>台中車站搭乘仁友客運29號公車至市政路口站，步行約500公尺方可到達</p>
                </div>
                <div class="icon icon__traffic icon__traffic--train">
                    <h5>高鐵</h5>
                    <p>高鐵台中站搭乘台中客運69號公車至第六分局站，下車即可到達</p>
                </div>
                <div class="icon icon__traffic icon__traffic-bus">
                    <h5>客運</h5>
                    <p>統聯75路 榮總—樂成公園—太平 於惠來路（第六分局站）下車即可到達</p>
                    <p>全航客運5路 干城僑光線 於惠來路（第六分局站）下車即可到達</p>
                    <p>台中客運60路 大墩線 於惠來路（第六分局站）下車即可到達</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- @@close-->
<!-- @@block  =  bottomFixed-->
<div class="bottom__fixed pconly">
    <div class="wrap">
        <div class="wrapper">
            <a href="./tc.html#ticket" rel="noopener noreferrer" class="gtm-track" data-action="台中場" gtm-name="置底bar">
                限量250席
                <button class="btn btn--inblock btn--white btn--xs gtm-track" data-action="台中場" gtm-name="置底bar">
                    <span class="btn__text">免費報名</span>
                </button>
            </a>
        </div>
    </div>
</div>
<div class="bottom__fixed mbonly">
    <div class="wrap">
        <div class="wrapper">
            <a href="./tp.html#intro" rel="noopener noreferrer" class="btn gtm-track" data-action="台中場" gtm-name="置底_台北">台北待定</a>
            <a href="./kh.html#intro" rel="noopener noreferrer" class="btn gtm-track" data-action="台中場" gtm-name="置底_高雄">6.13 高雄</a>
            <a href="./tc.html#ticket" rel="noopener noreferrer" class="btn gtm-track" data-action="台中場" gtm-name="置底_台中">6.14 台中</a>
        </div>
    </div>
</div>
<!-- @@close-->