<!-- @@master  = ./_layout.html-->
<!-- @@block  =  title-->
<title>tc</title>
<!-- @@close-->
<!-- @@block  =  content-->
<section class="section" id="intro">
    <div class="wrap">
        <div class="wrapper">
            <h2 class="title">講者</h2>
            <ul class="slides intro__slides">
                <li>
                    <div class="intro__info">
                        <div class="intro__avatar">
                            <div class="avatar">
                                <img src="../assets/images/forum/speaker/tp_01.png" alt="">
                            </div>
                        </div>
                        <div class="intro__name">陳立宗</div>
                        <div class="intro__title">國家衛生研究院癌症研究所所長</div>
                        <button class="btn btn--inblock btn--forumOutline btn--sm"><span class="btn__text">詳細介紹</span></button>
                    </div>
                </li>
                <li>
                    <div class="intro__info">
                        <div class="intro__avatar">
                            <div class="avatar">
                                <img src="https://www.commonhealth.com.tw/event/2019/cancer/assets/images/speaker/17.jpg" alt="">
                            </div>
                        </div>
                        <div class="intro__name">陳達人</div>
                        <div class="intro__title">彰基醫院乳房中心主任</div>
                        <button class="btn btn--inblock btn--forumOutline btn--sm"><span class="btn__text">詳細介紹</span></button>
                    </div>
                </li>
                <li>
                    <div class="intro__info">
                        <div class="intro__avatar">
                            <div class="avatar">
                                <img src="https://www.commonhealth.com.tw/event/2019/cancer/assets/images/speaker/17.jpg" alt="">
                            </div>
                        </div>
                        <div class="intro__name">夏德椿</div>
                        <div class="intro__title">中國醫藥大學附設醫院 胸腔內科主治醫師</div>
                        <button class="btn btn--inblock btn--forumOutline btn--sm"><span class="btn__text">詳細介紹</span></button>
                    </div>
                </li>
                <li>
                    <div class="intro__info">
                        <div class="intro__avatar">
                            <div class="avatar">
                                <img src="https://www.commonhealth.com.tw/event/2019/cancer/assets/images/speaker/17.jpg" alt="">
                            </div>
                        </div>
                        <div class="intro__name">蘇志中</div>
                        <div class="intro__title">台中大里仁愛醫院腫瘤治療科 執行長</div>
                        <button class="btn btn--inblock btn--forumOutline btn--sm"><span class="btn__text">詳細介紹</span></button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="section" id="agenda">
    <div class="wrap">
        <div class="wrapper">
            <h2 class="title">台中場議程</h2>

            <div class="agenda">
                <div class="agenda__info">
                    <div class="agenda__time">14:00-14:05<span>主辦單位致詞</span></div>
                    <div class="agenda__speaker">
                        <div class="tag">主講人</div>
                        <div class="name">張曉卉<span>康健雜誌總主筆</span></div>
                    </div>
                    <div class="agenda__desc">我們持續努力找尋台灣更健康的可能，關心常民生活健康、協助醫療政策研擬、帶領全民實際力行，更長期關注癌症議題，鼓勵癌症家庭重拾健康希望...</div>
                </div>
                <div class="agenda__avatar">
                    <div class="avatar">
                        <img src="../assets/images/forum/speaker/tp_06.png" alt="">
                    </div>
                 </div>
            </div>
            <div class="agenda">
                <div class="agenda__info">
                    <div class="agenda__time">14:05-14:20<span>貴賓短講致詞</span></div>
                    <div class="agenda__speaker">
                        <div class="tag">主講人</div>
                        <div class="name">國健署<span>醫事司</span></div>
                    </div>
                    <div class="agenda__desc">我們持續努力找尋台灣更健康的可能，關心常民生活健康、協助醫療政策研擬、帶領全民實際力行，更長期關注癌症議題，鼓勵癌症家庭重拾健康希望...</div>
                </div>
                <div class="agenda__avatar">
                    <div class="avatar">
                        <img src="../assets/images/forum/speaker/tp_06.png" alt="">
                    </div>
                 </div>
            </div>
            <div class="agenda">
                <div class="agenda__info">
                    <div class="agenda__time">14:20-14:50<span>精準抗癌大未來</span></div>
                    <div class="agenda__speaker">
                        <div class="tag">主講人</div>
                        <div class="name">陳立宗<span>國家衛生研究院癌症研究所所長</span></div>
                    </div>
                    <div class="agenda__desc">國內癌症研究權威，現為中華民國癌症醫學會理事長、國家衛生研究院癌症研究所特聘研究員兼所長，兼任成功大學醫學院附設醫院內科合聘主治醫師、高雄醫學大學內科學教授，榮獲科技部傑出研究獎、亞洲臨床腫瘤傑出研究獎等殊榮。專長為肝膽腸胃道腫瘤治療研究及轉譯醫學研究。</div>
                </div>
                <div class="agenda__avatar">
                    <div class="avatar">
                        <img src="../assets/images/forum/speaker/tp_06.png" alt="">
                    </div>
                 </div>
            </div>
            <div class="agenda">
                <div class="agenda__info">
                    <div class="agenda__time">14:50-15:20<span>乳癌精準防治大趨勢</span></div>
                    <div class="agenda__speaker">
                        <div class="tag">主講人</div>
                        <div class="name">陳達人<span>彰基醫院乳房中心主任</span></div>
                    </div>
                    <div class="agenda__desc">我們持續努力找尋台灣更健康的可能，關心常民生活健康、協助醫療政策研擬、帶領全民實際力行，更長期關注癌症議題，鼓勵癌症家庭重拾健康希望...</div>
                </div>
                <div class="agenda__avatar">
                    <div class="avatar">
                        <img src="../assets/images/forum/speaker/tp_06.png" alt="">
                    </div>
                 </div>
            </div>
            <div class="break">15:20-15:40 Break</div>
            <div class="agenda">
                <div class="agenda__info">
                    <div class="agenda__time">15:40-16:10<span>肺癌精準防治大趨勢
                    </span></div>
                    <div class="agenda__speaker">
                        <div class="tag">主講人</div>
                        <div class="name">夏德椿<span>中國醫藥大學附設醫院 胸腔內科主治醫師</span></div>
                    </div>
                    <div class="agenda__desc">國人罹患肺癌的人數愈來愈多，有哪些方式可以預防？面對越來越多的治療方式，從傳統化療、標靶藥物、免疫療法到最近很夯的細胞療法，它們是否適用、有何優缺點？治療完最怕復發，哪些方法可以降低復發機率呢？.</div>
                </div>
                <div class="agenda__avatar">
                    <div class="avatar">
                        <img src="../assets/images/forum/speaker/tp_06.png" alt="">
                    </div>
                 </div>
            </div>
            <div class="agenda">
                <div class="agenda__info">
                    <div class="agenda__time">16:10-16:30<span>找到最厲害的個人抗癌處方  新書《癌症的35個秘密》</span></div>
                    <div class="agenda__speaker">
                        <div class="tag">主講人</div>
                        <div class="name">蘇志中<span>台中大里仁愛醫院腫瘤治療科 執行長</span></div>
                    </div>
                    <div class="agenda__desc">罹癌的當下，心情一定是慌張的，但不安之餘，可以如何找到最適合個人的治療方式？這包括了最新、最貴的治療方式一定最有用？就醫時該跟醫師詢問些什麼、如何了解治療計畫？做一個聰明的病友，充分了解整個治療過程，才能和醫師密切合作，度過難關。</div>
                </div>
                <div class="agenda__avatar">
                    <div class="avatar">
                        <img src="../assets/images/forum/speaker/tp_06.png" alt="">
                    </div>
                 </div>
            </div>
            <div class="memo">* 主辦單位保留議程內容與主講者更動權利</div>
        </div>
    </div>
    <div class="agenda__bg agenda__bg--ribbon01"></div>
    <div class="agenda__bg agenda__bg--ribbon02"></div>
    <div class="agenda__bg agenda__bg--ribbon03"></div>
    <div class="agenda__bg agenda__bg--ribbon04"></div>
</section>
<!-- @@close-->