<!-- @@master  = ./_layout.html-->
<!-- @@block  =  title-->
<title>tp</title>
<!-- @@close-->
<!-- @@block  =  content-->
<section class="section" id="intro" data-city="tp">
    <div class="wrap">
        <div class="wrapper">
            <h2 class="title">講者</h2>
            <ul class="slides intro__slides"></ul>
        </div>
    </div>
</section>
<section class="section" id="agenda">
    <div class="wrap">
        <div class="wrapper">
            <h2 class="title">台北場議程</h2>
            <h3>上午場</h3>

            <div class="agenda" data-id="1">
                <div class="agenda__info">
                    <div class="agenda__time">9:30-9:35<span>主辦單位致詞</span></div>
                    <div class="agenda__speaker">
                        <div class="tag">主講人</div>
                        <div class="name">賀桂芬</div>
                        <div class="title">康健雜誌總編輯</div>
                    </div>
                    <div class="action">
                        <button class="btn btn--block btn--forumOutlineSec btn--sm"><span class="btn__text">詳細介紹</span></button>
                    </div>
                    <div class="agenda__desc">我們持續努力找尋台灣更健康的可能，關心常民生活健康、協助醫療政策研擬、帶領全民實際力行，更長期關注癌症議題，鼓勵癌症家庭重拾健康希望...</div>
                </div>
                <div class="agenda__avatar">
                    <div class="avatar">
                        <img src="../assets/images/forum/speaker/tp_06.png" alt="">
                    </div>
                 </div>
            </div>
            <div class="agenda" data-id="5">
                <div class="agenda__info">
                    <div class="agenda__time">9:35-9:50<span>貴賓短講致詞</span></div>
                    <div class="agenda__speaker">
                        <div class="tag">主講人</div>
                        <div class="name">國健署</div>
                        <div class="title">醫事司</div>
                    </div>
                    <div class="action">
                        <button class="btn btn--block btn--forumOutlineSec btn--sm"><span class="btn__text">詳細介紹</span></button>
                    </div>
                    <div class="agenda__desc">我們持續努力找尋台灣更健康的可能，關心常民生活健康、協助醫療政策研擬、帶領全民實際力行，更長期關注癌症議題，鼓勵癌症家庭重拾健康希望...</div>
                </div>
                <div class="agenda__avatar">
                    <div class="avatar">
                        <img src="../assets/images/forum/speaker/tp_06.png" alt="">
                    </div>
                 </div>
            </div>
            <div class="agenda" data-id="2">
                <div class="agenda__info">
                    <div class="agenda__time">9:50-10:30<span>開幕演講：精準抗癌大未來</span></div>
                    <div class="agenda__speaker">
                        <div class="tag">主講人</div>
                        <div class="name">楊泮池</div>
                        <div class="title">台大永齡健康研究院長</div>
                    </div>
                    <div class="action">
                        <button class="btn btn--block btn--forumOutlineSec btn--sm"><span class="btn__text">詳細介紹</span></button>
                    </div>
                    <div class="agenda__desc">基因檢測、AI、大數據、機器手臂、標靶、免疫新治療帶來的醫學大躍進，根據個人基因、環境及生活差異，給予個人化的「精準醫療」成為未來疾病防治新主流。精準醫療運用在癌症治療上，將帶來哪些突破性的新契機？</div>
                </div>
                <div class="agenda__avatar">
                    <div class="avatar">
                        <img src="../assets/images/forum/speaker/tp_06.png" alt="">
                    </div>
                 </div>
            </div>
            <div class="agenda" data-id="3">
                <div class="agenda__info">
                    <div class="agenda__time">10:30-11:00<span>開刀、免疫、標靶、放療、還是化療？如何拿到最厲害的抗癌治療</span></div>
                    <div class="agenda__speaker">
                        <div class="tag">主講人</div>
                        <div class="name">蘇志中</div>
                        <div class="title">台中大里仁愛醫院腫瘤治療科執行長</div>
                    </div>
                    <div class="action">
                        <button class="btn btn--block btn--forumOutlineSec btn--sm"><span class="btn__text">詳細介紹</span></button>
                    </div>
                    <div class="agenda__desc">罹癌的當下，心情一定是慌張的，但不安之餘，如何找到最適合個人的治療方式？這包括：最新、最貴的治療方式一定最有用嗎？就醫時該跟醫師詢問些什麼、又該如何了解治療計畫？癌病不是絕症，做一個聰明的病友，應建立正確觀念並充分了解治療計畫，和醫師密切合作，才易度過難關。</div>
                </div>
                <div class="agenda__avatar">
                    <div class="avatar">
                        <img src="../assets/images/forum/speaker/tp_06.png" alt="">
                    </div>
                </div>
            </div>
            <div class="break">11:00-11:20 Break</div>
            <div class="agenda" data-id="1">
                <div class="agenda__info">
                    <div class="agenda__time">11:20-11:50<span>精準營養，打造抗癌好飲食</span></div>
                    <div class="agenda__speaker">
                        <div class="tag">主講人</div>
                        <div class="name">賴聖如</div>
                        <div class="title">台大醫院營養師</div>
                    </div>
                    <div class="action">
                        <button class="btn btn--block btn--forumOutlineSec btn--sm"><span class="btn__text">詳細介紹</span></button>
                    </div>
                    <div class="agenda__desc">罹癌除了治療，營養也是最好的後盾，賴聖如營養師提供最好的抗癌飲食密碼，提生抗癌「食」力，吃得好、足夠的營養才能讓身體有力量對抗癌細胞、緩解治療帶來的不適。</div>
                </div>
                <div class="agenda__avatar">
                    <div class="avatar">
                        <img src="../assets/images/forum/speaker/tp_06.png" alt="">
                    </div>
                 </div>
            </div>
            <div class="agenda" data-id="5">
                <div class="agenda__info">
                    <div class="agenda__time">11:50-12:10<span>精準復健，癌後重建好體力</span></div>
                    <div class="agenda__speaker">
                        <div class="tag">主講人</div>
                        <div class="name">王薏茜</div>
                        <div class="title">超越復健診所院長</div>
                    </div>
                    <div class="action">
                        <button class="btn btn--block btn--forumOutlineSec btn--sm"><span class="btn__text">詳細介紹</span></button>
                    </div>
                    <div class="agenda__desc">抗癌過程，癌友因為開刀失去部分器官、化療藥物毒性、或者放射治療導致組織纖維化、痙攣等副作用，以及身心狀態疲憊失衡，透過復健治療可以改善，病人活得更好</div>
                </div>
                <div class="agenda__avatar">
                    <div class="avatar">
                        <img src="../assets/images/forum/speaker/tp_06.png" alt="">
                    </div>
                 </div>
            </div>
            <div class="agenda" data-id="2">
                <div class="agenda__info">
                    <div class="agenda__time">12:10-12:30<span>精準運動，癌症體適能</span></div>
                    <div class="agenda__speaker">
                        <div class="tag">主講人</div>
                        <div class="name">蔡奇儒</div>
                        <div class="title">醫適能MedEx創辦人</div>
                    </div>
                    <div class="action">
                        <button class="btn btn--block btn--forumOutlineSec btn--sm"><span class="btn__text">詳細介紹</span></button>
                    </div>
                    <div class="agenda__desc">大家都知道體適能，那你聽過「癌適能」嗎？癌友也需要運動，且好處多多。那麼癌友適合做哪些運動呢？要特別注意什麼事情？蔡奇儒教練將針對乳癌、肺癌、大腸直腸癌，現場教你安全有效做運動。</div>
                </div>
                <div class="agenda__avatar">
                    <div class="avatar">
                        <img src="../assets/images/forum/speaker/tp_06.png" alt="">
                    </div>
                 </div>
            </div>
            <div class="break">12:30-14:30 Break</div>
            <div class="agenda agenda--tp" data-id="4">
                <h3>下午場</h3>
                <div class="agenda__info">
                    <div class="agenda__time">14:30-16:00 (下午場依不同癌別，分3小場同步進行)</div>

                    <ul class="grid grid--tp">
                        <li>
                            <div class="session session--breast">
                                <div class="session__title">乳癌場<span>14:00-16:00<br> (下午場依不同癌別，分3小場同步進行)</span>
                                </div>
                                <div class="agenda__avatar">
                                    <div class="avatar">
                                        <img src="../assets/images/forum/speaker/tp_06.png" alt="">
                                    </div>
                                </div>
                                <div class="agenda__avatar">
                                    <div class="avatar">
                                        <img src="../assets/images/forum/speaker/tp_06.png" alt="">
                                    </div>
                                </div>
                                <div class="agenda__speaker">
                                    <div class="tag">主講人</div>
                                    <div class="name">杜世興</div>
                                    <div class="title">臺北醫學大學臺北癌症中心 副院長暨附設醫院乳房醫學中心主任</div>
                                </div>
                                <div class="agenda__speaker">
                                    <div class="tag">主講人</div>
                                    <div class="name">邱欣瑜</div>
                                    <div class="title">臺北醫學大學附設醫院乳房外科專科護理師</div>
                                </div>
                                <div class="agenda__desc text-justify">乳癌為女性癌症發生率的第一名。雖然發生率高，不過只要及早發現，預後狀況大多很好。該如何提早發現？如何預防？那些族群是高風險族群？除了預防，微創手術是否適合治療乳癌，現在還有哪些新的藥物可以治療？「循環腫瘤細胞檢測」又是什麼，杜世興醫師將提供最新的資訊。</div>
                            </div>
                        </li>
                        <li>
                            <div class="session session--colorectal">
                                <div class="session__title">大腸癌場<span>14:00-16:00<br> (下午場依不同癌別，分3小場同步進行)</span>
                                </div>
                                    <div class="agenda__avatar">
                                    <div class="avatar">
                                        <img src="../assets/images/forum/speaker/tp_06.png" alt="">
                                    </div>
                                </div>
                                <div class="agenda__avatar">
                                    <div class="avatar">
                                        <img src="../assets/images/forum/speaker/tp_06.png" alt="">
                                    </div>
                                </div>
                                <div class="agenda__speaker">
                                    <div class="tag">主講人</div>
                                    <div class="name">洪欣園</div>
                                    <span>林口長庚醫院大腸直腸外科主治醫師</span>
                                </div>
                                <div class="agenda__speaker">
                                    <div class="tag">主講人</div>
                                    <div class="name">姜亭妤</div>
                                    <span>林口長庚醫院大腸直腸癌個管師</span>
                                </div>
                                <div class="agenda__desc text-justify">大腸直腸癌該如何預防和減少復發機率？健檢做大腸鏡看到瘜肉需不需要緊張？出現哪些狀況應該就醫？現今最新的療法如免疫治療、細胞治療、達文西微創手術對大腸直腸癌有幫助嗎？洪欣園主任將提供最新的資訊。</div>
                            </div>
                        </li>
                        <li>
                            <div class="session session--lung">
                                <div class="session__title">肺癌場<span>14:00-16:00<br> (下午場依不同癌別，分3小場同步進行)</span>
                                </div>
                                <div class="agenda__avatar">
                                    <div class="avatar">
                                        <img src="../assets/images/forum/speaker/tp_06.png" alt="">
                                    </div>
                                </div>
                                <div class="agenda__avatar">
                                    <div class="avatar">
                                        <img src="../assets/images/forum/speaker/tp_06.png" alt="">
                                    </div>
                                </div>
                                <div class="agenda__speaker">
                                    <div class="tag">主講人</div>
                                    <div class="name">陳育民</div>
                                    <span>台北榮民總醫院一般胸腔科主任</span>
                                </div>
                                <div class="agenda__speaker">
                                    <div class="tag">主講人</div>
                                    <div class="name">洪秀瑩</div>
                                    <span>台北榮總護理部肺癌個案管理師</span>
                                </div>
                                <div class="agenda__desc text-justify">台灣每年有1萬3千多人、平均每40分鐘就有一名肺癌新病人。如何預防？早期發現、哪些人應該做電腦斷層？手術、標靶、免疫治療，最新最貴的藥物，等於最好的治療？</div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="memo">* 主辦單位保留議程內容與主講者更動權利</div>
        </div>
    </div>
    <div class="agenda__bg agenda__bg--ribbon01"></div>
    <div class="agenda__bg agenda__bg--ribbon02 rellax" data-rellax-speed="1"></div>
    <div class="agenda__bg agenda__bg--ribbon03 rellax" data-rellax-speed="3"></div>
    <div class="agenda__bg agenda__bg--ribbon04 rellax" data-rellax-speed="2"></div>
</section>
<section class="section" id="ticket">
    <div class="wrap">
        <div class="wrapper">
            <h2 class="title">台北場購票資訊</h2>
            <div class="info">
                <ul>
                    <li><b>時間：</b>
                        <ul><li>2020.4.26（日）9:00-16:30</li></ul>
                    </li>
                    <li><b>地點：</b>
                        <ul><li>華南銀行總行大樓國際會議中心2樓（台北市松仁路123號）</ul></li>
                        </li>
                    <li><b>票價：</b>
                        <ul>
                            <li>論壇全日票券 250元（票券乙張）</li>
                            <li>論壇全日票券 350元（論壇全日票券乙張＋價值180元《肺癌》專刊乙本）</li>
                        </ul>
                    </li>
                    <li><b>電話購票：</b>
                        <ul><li><a href="tel:+886-2-26620332,9">(02)2662-0332 轉 9</a>（週一至週五 9:00-17:30）</li></ul>
                    </li>
                    <li><b>團訂諮詢：</b>
                        <ul><li>購票10張以上另享優惠票價，請致電 <a href="tel:+886-2-25078627,125">(02)2507-8627分機125</a> 曾小姐，將由專人為您服</li></ul>
                    </li>
                    <li><b>康健現訂戶專屬優惠：</b>
                        <ul><li></li>[優惠購票連結] 將於 2020.4.1（三）前以 E-mail 和簡訊寄出。優惠截止日：2020.4.6（一）23:59。</li></ul>
                    </li>
                </ul>
            </div>
            <div class="buy">
                <ul class="grid grid--buy">
                    <li>
                        <div class="session session--breast">
                            <div class="icon icon__ticket icon__ticket--breast">
                                <div class="session__title">2020 癌症趨勢論壇</div>
                                <div class="session__type">上午場 + <span>乳癌場</span></div>
                                <div class="action">
                                    <button class="btn btn--inblock btn--forumBuy"><span class="btn__text">立即購票</span></button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="session session--colorectal">
                            <div class="icon icon__ticket icon__ticket--colorectal">
                                <div class="session__title">2020 癌症趨勢論壇</div>
                                <div class="session__type">上午場 + <span>乳癌場</span></div>
                                <div class="action">
                                    <button class="btn btn--inblock btn--forumBuy"><span class="btn__text">立即購票</span></button>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="session session--lung">
                            <div class="icon icon__ticket icon__ticket--lung">
                                <div class="session__title">2020 癌症趨勢論壇</div>
                                <div class="session__type">上午場 + <span>乳癌場</span></div>
                                <div class="action">
                                    <button class="btn btn--inblock btn--forumBuy"><span class="btn__text">立即購票</span></button>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section" id="notic">
    <div class="wrap">
        <div class="wrapper">
            <div class="notic">
                <h4>注意事項</h4>
                <ol>
                    <li>主辦單位保留議程內容與主講者更動權利。</li>
                    <li>活動當日憑 QRcode報 到，更換識別證入場，無劃位，自由入座，上下午進出場請務必攜帶識別證做為憑證，以利再次入場。</li>
                    <li>論壇不提供劃位，亦無提供對號座位，論壇開始前30分鐘開放入場。</li>
                    <li>其他未盡周全事宜，請依主辦單位公告及場地規則為依據。</li>
                    <li>如有任何問題，請撥打客服專線 <a href="tel:+886-2-26620332,9">(02)2662-0332 轉 9 </a>（週一至週五 9:30-18:00）</li>
                    <li>退票規則：
                        <ul>
                            <li>（1）若因天候及其他不可抗力因素，致使活動無法舉辦，主辦單位將於第一時間於官網公告週知。</li>
                            <li>（2）若因個人因素無法參加：活動前七天內（含）退票：恕無法退款；活動前兩週內（含）退票：需扣除原購買價之30%作為行政處理費；活動前一個月內（含）退票：需扣除原購買價之20%作為行政處理費。</li>
                        </ul>
                    </li>
                </ol>
            </div>

            <div class="qa">
                <h4>常見問題</h4>
                <div class="accordion">
                    <div class="accordion__head">Q1.我已購票成功，請問何時可以收到電子票券？</div>
                    <div class="accordion__body">本論壇採用「QR code電子票券」報到入場，將於 2020.4.6（一）起，根據您購票時所提供的聯絡資訊，陸續寄送報到簡訊及 E-mail 給您。QR code 即為您參與論壇的電子票券，您可使用手機、平板或列印紙本的方式出示 QR code 報到入場，現場無劃位，自由入座。報名時請務必填妥 E-mail 和手機等資料，以利接收行前相關通知訊息。</div>
                </div>
                <div class="accordion">
                    <div class="accordion__head">Q2.我是康健的長期訂戶，是否還有優惠？</div>
                    <div class="accordion__body">康健雜誌為感謝訂戶的長期支持，此次癌症論壇特別提供訂戶專屬優惠，將會發送E-mail及簡訊給您，席次有限敬請把握。如有其他問題，請撥打客服專線 <a href="tel:+886-2-26620332,9">(02)2662-0332 轉 9</a>。（週一至週五 9:00-17:30）</div>
                </div>
                <div class="accordion">
                    <div class="accordion__head">Q3.我有團體購票需求，請問是否有購票優惠？</div>
                    <div class="accordion__body">癌症論壇票券購買10張以上另享優惠票價，請您撥打 <a href="tel:+886-2-25078627,125">(02)2507-8627分機125</a> 曾小姐，將由專人為您服務。</div>
                </div>
                <div class="accordion">
                    <div class="accordion__head">Q4.購票者和參與論壇者，可以是不同人嗎？ </div>
                    <div class="accordion__body">可以，但請務必轉寄「QR code電子票券」給參與論壇者以供當天報到，現場無法補發電子票券。</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section" id="traffic">
    <div class="wrap">
        <div class="wrapper">
            <h2 class="title">交通資訊</h2>
            <div class="traffic__map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14459.949242181934!2d121.5691428!3d25.0345047!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe9d977b4cb04f3c3!2z6I-v5Y2X6YqA6KGM5ZyL6Zqb5pyD6K2w5Lit5b-DIEhOQksgSW50ZXJuYXRpb25hbCBDb252ZW50aW9uIENlbnRlcg!5e0!3m2!1szh-TW!2stw!4v1578362769541!5m2!1szh-TW!2stw" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
            <div class="traffic__info">
                <div class="icon icon__traffic icon__traffic--bus">
                    <h5>松壽路口</h5>
                    <p>20、32區、202、266、266區、284、284直、611、612、612區、621、665、669、紅56、藍10</p>
                    <h5>信義行政中心(信義)</h5>
                    <p>32、207、282副、647、650、915、信義幹線、信義新幹線、棕6、棕7、棕18、棕21、紅56、綠1、1570、1571、1572</p>
                    <h5>信義行政中心(松仁)</h5>
                    <p>20、32區、46、266、266區、612、612區、665、797、912、藍10</p>
                </div>
                <div class="icon icon__traffic icon__traffic--mrt">
                    <h5>淡水信義線</h5>
                    <p>請搭乘淡水信義線至象山站，由1號出口前往，至松仁路右轉，步行約3分鐘</p>
                    <h5>板南線</h5>
                    <p>請搭乘板南線至市府站，由3號出口前往，至松仁路右轉，步行約10分鐘</p>
                </div>
            </divc>
        </div>
    </div>
</section>
<!-- @@close-->
<!-- @@block  =  endBody-->
<script>

    $('#ticket .session').click(function(){

        var link = 'https://www.commonhealth.com.tw/';

        Swal.fire({
            title: '請選擇您想購買的票券類型',
            html: '<div><ul class="grid grid--plan">' +
                  '<li><a href="' + link + '" target="_blank" class="plan"><div class="plan__price"><div>一般價</div><span>NT$<strong>250</strong></span></div><div class="plan__content"><ul><li>論壇全日票券 × 1</li><li>講者授權簡報</li><li>抗癌趨勢電子報<br>(含論壇重點整理)</li></ul><div class="action"><button class="btn btn--block btn--forumHighlight"><div class="btn__text">立即購票</div></button></div></div></li>' +
                  '<li><a href="' + link + '" target="_blank" class="plan"><div class="plan__price"><div>與知識同行價</div><span>NT$<strong>350</strong></span></div><div class="plan__content"><ul><li class="plus">肺癌專刊 × 1</li><li>論壇全日票券 × 1</li><li>講者授權簡報</li><li>抗癌趨勢電子報<br>(含論壇重點整理)</li></ul><div class="action"><button class="btn btn--block btn--forumHighlight"><div class="btn__text">立即購票</div></button></div></div></li>' +
                  '</ul></div>',
            showCloseButton: true,
            showConfirmButton: false,
            width: 700,
            customClass: {
                popup: 'popup--ticket',
            }
        })
    });

</script>
<!-- @@close-->