<!-- @@master  = ./_layout.html-->
<!-- @@block  =  title-->
<title>精準抗癌✕智慧醫療－康健趨勢論壇 台北場</title>
<!-- @@close-->
<!-- @@block  =  url-->
<meta property="og:url" content="https://www.commonhealth.com.tw/event/2020/cancer/forum/tp.html">
<!-- @@close-->
<!-- @@block  =  content-->
<section class="section" id="intro" data-city="tp">
    <div class="wrap">
        <div class="wrapper">
            <h2 class="title">台北場講者</h2>
            <ul class="slides intro__slides"></ul>
        </div>
    </div>
</section>
<section class="section" id="agenda">
    <div class="wrap">
        <div class="wrapper">
            <h2 class="title">台北場議程</h2>
            <h3>上午場</h3>
            <div class="agenda">
                <div class="agenda__info">
                    <div class="agenda__time">9:30-9:50<span>開幕：主辦單位及貴賓致詞、主題影片播放</span></div>
                </div>
            </div>
            <div class="agenda" data-id="1"></div>
            <div class="agenda" data-id="2"></div>
            <div class="break">11:00-11:20 Break</div>
            <div class="agenda" data-id="3"></div>
            <div class="agenda" data-id="4"></div>
            <div class="agenda" data-id="5"></div>
            <div class="break">12:30-14:30 Break</div>
            <div class="agenda agenda--tp">
                <h3>下午場</h3>
                <div class="agenda__info">
                    <div class="agenda__time">14:30-16:00 (下午場依不同癌別，分3小場同步進行)</div>
                    <ul class="grid grid--tp">
                        <li>
                            <div class="session session--breast">
                                <div class="session__title">乳癌場<span>14:00-16:00<br> (下午場依不同癌別，分3小場同步進行)</span>
                                </div>
                                <div class="agenda__avatar">
                                    <div class="avatar" data-id="6">
                                        <img src="../assets/images/forum/speaker/06.png" alt="">
                                    </div>
                                </div>
                                <div class="agenda__avatar">
                                    <div class="avatar" data-id="7">
                                        <img src="../assets/images/forum/speaker/07.png" alt="">
                                    </div>
                                </div>
                                <div class="agenda__speaker" data-id="6">
                                    <div class="tag">主講人</div>
                                    <div class="name">杜世興</div>
                                    <div class="title">臺北醫學大學臺北癌症中心 副院長暨附設醫院乳房醫學中心主任</div>
                                </div>
                                <div class="agenda__speaker" data-id="7">
                                    <div class="tag">主講人</div>
                                    <div class="name">邱欣瑜</div>
                                    <div class="title">臺北醫學大學附設醫院乳房外科專科護理師</div>
                                </div>
                                <div class="agenda__desc text-justify">乳癌為女性癌症發生率的第一名。雖然發生率高，不過只要及早發現，預後狀況大多很好。該如何提早發現？如何預防？那些族群是高風險族群？除了預防，微創手術是否適合治療乳癌，現在還有哪些新的藥物可以治療？「循環腫瘤細胞檢測」又是什麼，杜世興醫師將提供最新的資訊。</div>
                            </div>
                        </li>
                        <li>
                            <div class="session session--colorectal">
                                <div class="session__title">大腸癌場<span>14:00-16:00<br> (下午場依不同癌別，分3小場同步進行)</span>
                                </div>
                                <div class="agenda__avatar">
                                    <div class="avatar" data-id="8">
                                        <img src="../assets/images/forum/speaker/08.png" alt="">
                                    </div>
                                </div>
                                <div class="agenda__avatar">
                                    <div class="avatar" data-id="9">
                                        <img src="../assets/images/forum/speaker/09.png" alt="">
                                    </div>
                                </div>
                                <div class="agenda__speaker" data-id="8">
                                    <div class="tag">主講人</div>
                                    <div class="name">洪欣園</div>
                                    <div class="title">林口長庚醫院大腸直腸外科主治醫師</div>
                                </div>
                                <div class="agenda__speaker" data-id="9">
                                    <div class="tag">主講人</div>
                                    <div class="name">姜亭妤</div>
                                    <div class="title">林口長庚醫院大腸直腸癌個管師</div>
                                </div>
                                <div class="agenda__desc text-justify">大腸直腸癌該如何預防和減少復發機率？健檢做大腸鏡看到瘜肉需不需要緊張？出現哪些狀況應該就醫？現今最新的療法如免疫治療、細胞治療、達文西微創手術對大腸直腸癌有幫助嗎？洪欣園醫師將提供最新的資訊。</div>
                            </div>
                        </li>
                        <li>
                            <div class="session session--lung">
                                <div class="session__title">肺癌場<span>14:00-16:00<br> (下午場依不同癌別，分3小場同步進行)</span>
                                </div>
                                <div class="agenda__avatar">
                                    <div class="avatar" data-id="10">
                                        <img src="../assets/images/forum/speaker/10.png" alt="">
                                    </div>
                                </div>
                                <div class="agenda__avatar">
                                    <div class="avatar" data-id="11">
                                        <img src="../assets/images/forum/speaker/11.png" alt="">
                                    </div>
                                </div>
                                <div class="agenda__speaker" data-id="10">
                                    <div class="tag">主講人</div>
                                    <div class="name">陳育民</div>
                                    <div class="title">台北榮民總醫院一般胸腔科主任</div>
                                </div>
                                <div class="agenda__speaker" data-id="11">
                                    <div class="tag">主講人</div>
                                    <div class="name">洪秀瑩</div>
                                    <div class="title">台北榮總護理部肺癌個案管理師</div>
                                </div>
                                <div class="agenda__desc text-justify">台灣每年有1萬3千多人、平均每40分鐘就有一名肺癌新病人。如何預防？早期發現、哪些人應該做電腦斷層？手術、標靶、免疫治療，最新最貴的藥物，等於最好的治療？陳育民主任將提供最新的資訊。</div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="memo">* 主辦單位保留議程內容與主講者更動權利</div>
        </div>
    </div>
    <div class="agenda__bg agenda__bg--ribbon01"></div>
    <div class="agenda__bg agenda__bg--ribbon02 rellax" data-rellax-speed="1"></div>
    <div class="agenda__bg agenda__bg--ribbon03 rellax" data-rellax-speed="3"></div>
    <div class="agenda__bg agenda__bg--ribbon04 rellax" data-rellax-speed="2"></div>
</section>
<section class="section" id="ticket">
    <div class="wrap">
        <div class="wrapper">
            <h2 class="title">台北場購票資訊</h2>
            <div class="info">
                <ul>
                    <li><b>時間：</b>
                        <ul><li>2020.6.7（日）9:30-16:00（9:00 開放入場）</li></ul>
                    </li>
                    <li><b>地點：</b>
                        <ul><li>台北文創大樓6樓演講廳（台北市信義區菸廠路88號）</ul></li>
                        </li>
                    <li><b>票價：</b>
                        <ul>
                            <li>論壇全日票券 250元（票券乙張）</li>
                            <li>論壇全日套組 350元（論壇全日票券乙張＋價值180元《肺癌100問》專刊乙本）</li>
                        </ul>
                    </li>
                    <li><b>電話購票：</b>
                        <ul><li><a href="tel:+886-2-26620332,9">(02)2662-0332 轉 9</a>（週一至週五 9:00-17:30）</li></ul>
                    </li>
                    <li><b>團訂諮詢：</b>
                        <ul><li>購票10張以上另享優惠票價，請致電 <a href="tel:+886-2-25078627,125">(02)2507-8627 分機 125</a> 曾小姐，將由專人為您服務</li></ul>
                    </li>
                    <li><b>康健現訂戶專屬優惠：</b>
                        <ul><li></li>[優惠購票連結] 將於 2020.3.11（三）後陸續以 E-mail 和簡訊寄出。每位訂戶限購一張優惠票券，優惠期限至 2020.4.22（三），若有疑問請洽客服<a href="tel:+886-2-26620332,9">(02)2662-0332 轉 9</a>。</li></ul>
                    </li>
                </ul>
            </div>
            <div class="buy">
                <ul class="grid grid--buy">
                    <li>
                        <div class="session session--breast" data-type="1">
                            <div class="icon icon__ticket icon__ticket--breast">
                                <div class="session__title">2020 癌症趨勢論壇</div>
                                <div class="session__type">上午場 + <span>乳癌場</span></div>
                                <div class="action">
                                    <button class="btn btn--inblock btn--forumBuy gtm-track" data-action="台北場" gtm-name="立即購票_乳癌場"><span class="btn__text">立即購票</span></button>
                                    <!-- <button class="btn btn--inblock btn--disable gtm-track" data-action="台北場" gtm-name="立即購票_乳癌場" disabled><span class="btn__text">Coming soon</span></button> -->
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="session session--colorectal" data-type="2">
                            <div class="icon icon__ticket icon__ticket--colorectal">
                                <div class="session__title">2020 癌症趨勢論壇</div>
                                <div class="session__type">上午場 + <span>大腸癌場</span></div>
                                <div class="action">
                                    <button class="btn btn--inblock btn--forumBuy gtm-track" data-action="台北場" gtm-name="立即購票_大腸癌場"><span class="btn__text">立即購票</span></button>
                                    <!-- <button class="btn btn--inblock btn--disable gtm-track" data-action="台北場" gtm-name="立即購票_大腸癌場" disabled><span class="btn__text">Coming soon</span></button> -->
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="session session--lung" data-type="3">
                            <div class="icon icon__ticket icon__ticket--lung">
                                <div class="session__title">2020 癌症趨勢論壇</div>
                                <div class="session__type">上午場 + <span>肺癌場</span></div>
                                <div class="action">
                                    <button class="btn btn--inblock btn--forumBuy gtm-track" data-action="台北場" gtm-name="立即購票_肺癌場"><span class="btn__text">立即購票</span></button>
                                    <!-- <button class="btn btn--inblock btn--disable gtm-track" data-action="台北場" gtm-name="立即購票_肺癌場" disabled><span class="btn__text">Coming soon</span></button> -->
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section" id="notic">
    <div class="wrap">
        <div class="wrapper">
            <div class="notic">
                <h4>注意事項</h4>
                <ol>
                    <li>主辦單位保留議程內容與主講者更動權利。</li>
                    <li>活動當日憑 QRcode 報到，更換識別證入場，無劃位，自由入座，上下午進出場請務必攜帶識別證做為憑證，以利再次入場。</li>
                    <li>論壇不提供劃位，亦無提供對號座位，論壇開始前 30 分鐘開放入場。</li>
                    <li>其他未盡周全事宜，請依主辦單位公告及場地規則為依據。</li>
                    <li>如有任何問題，請撥打客服專線 <a href="tel:+886-2-26620332,9">(02)2662-0332 轉 9 </a>（週一至週五 9:30-18:00）</li>
                    <li>退票規則：
                        <ul>
                            <li>（1）若因天候及其他不可抗力因素，致使活動無法舉辦，主辦單位將於第一時間於官網公告週知。</li>
                            <li>（2）若因個人因素無法參加：活動前七天內（含）退票：恕無法退款；活動前兩週內（含）退票：需扣除原購買價之 30% 作為行政處理費；活動前一個月內（含）退票：需扣除原購買價之 20% 作為行政處理費。</li>
                        </ul>
                    </li>
                </ol>
            </div>
            <div class="qa">
                <h4>常見問題</h4>
                <div class="accordion">
                    <div class="accordion__head">Q1.我已購票成功，請問何時可以收到電子票券？</div>
                    <div class="accordion__body">本論壇採用「QR code電子票券」報到入場，將於 2020.5.18（一）起，根據您購票時所提供的聯絡資訊，陸續寄送報到簡訊及 E-mail 給您。報名時請務必填妥 E-mail 和手機等資料，以利接收行前相關通知訊息。</div>
                </div>
                <div class="accordion">
                    <div class="accordion__head">Q2.我是康健的長期訂戶，是否還有優惠？</div>
                    <div class="accordion__body">康健現訂戶另享專屬優惠價格，優惠購票連結將於 2020.3.11（三）後陸續以 E-mail 及簡訊寄出，每位訂戶限購一張優惠票券。優惠期限至 2020.4.22（三），若有疑問請洽客服 <a href="tel:+886-2-26620332,9">(02)2662-0332 轉 9</a>。（週一至週五 9:00-17:30）</div>
                </div>
                <div class="accordion">
                    <div class="accordion__head">Q3.我有團體購票需求，請問是否有購票優惠？</div>
                    <div class="accordion__body">癌症論壇票券購買10張以上另享優惠票價，請您撥打 <a href="tel:+886-2-25078627,125">(02)2507-8627 分機 125</a> 曾小姐，將由專人為您服務。</div>
                </div>
                <div class="accordion">
                    <div class="accordion__head">Q4.購票者和參與論壇者，可以是不同人嗎？ </div>
                    <div class="accordion__body">可以，但請務必轉寄「QR code電子票券」給參與論壇者以供當天報到，現場無法補發電子票券。</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section" id="traffic">
    <div class="wrap">
        <div class="wrapper">
            <h2 class="title">交通資訊</h2>
            <div class="traffic__map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.690461312514!2d121.55908131578835!3d25.044576683967417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abbf10d06711%3A0x18365043482713a4!2z6Ie65YyX5paH5Ym1!5e0!3m2!1szh-TW!2stw!4v1583138078004!5m2!1szh-TW!2stw" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
            <div class="traffic__info">
                <div class="icon icon__traffic icon__traffic--mrt">
                    <h5>國父紀念館站5號出口</h5>
                    <p>出站後自光復南路右轉菸廠路，步行約800公尺</p>
                    <h5>市政府站1號出口</h5>
                    <p>202、204、254、282、288、797、承德幹線</p>
                </div>
                <div class="icon icon__traffic icon__traffic--bus">
                    <h5>聯合報站(忠孝東路四段)</h5>
                    <p>212、232、240、263、270、299、919、1800、1815、忠孝新幹線</p>
                    <h5>捷運國父紀念館站(市民光復路口)</h5>
                    <p>202、204、254、282、288、797、承德幹線</p>
                </div>
            </divc>
        </div>
    </div>
</section>
<!-- @@close-->
<!-- @@block  =  bottomFixed-->
<div class="bottom__fixed pconly">
    <div class="wrap">
        <div class="wrapper">
            <a href="./tp.html#ticket" rel="noopener noreferrer" class="gtm-track" data-action="台北場" gtm-name="置底bar">
                限量500席
                <button class="btn btn--inblock btn--white btn--xs gtm-track" data-action="台北場" gtm-name="置底bar">
                    <span class="btn__text">立即購票</span>
                </button>
            </a>
        </div>
    </div>
</div>
<div class="bottom__fixed mbonly">
    <div class="wrap">
        <div class="wrapper">
            <a href="./tp.html#ticket" rel="noopener noreferrer" class="btn gtm-track" data-action="台北場" gtm-name="置底_台北">6.07 台北</a>
            <a href="./kh.html#intro" rel="noopener noreferrer" class="btn gtm-track" data-action="台北場" gtm-name="置底_高雄">6.13 高雄</a>
            <a href="./tc.html#intro" rel="noopener noreferrer" class="btn gtm-track" data-action="台北場" gtm-name="置底_台中">6.14 台中</a>
        </div>
    </div>
</div>
<!-- @@close-->
<!-- @@block  =  endBody-->
<script>
    var utmTrace = function (links) {

        var url = new URL(window.location.href);
        var query = url.search;

        if (query.length <= 0) {
            return links;
        }

        var searchArray = query.substring(1).split('&');
        var params = {};

        for (var i in searchArray) {
            var keyValue = searchArray[i].split('=')
            params[keyValue[0]] = keyValue[1]
        }

        for (var i in links) {
            var link = links[i];
            var utmParam = [];
            for (var key in params) {
                if (key.indexOf('utm_') != -1 && link.indexOf(key) == -1){
                    utmParam.push(key + '=' + params[key]);
                }
            }

            if (utmParam.length > 0) {
                var queryString = utmParam.join('&');

                var separator = link.indexOf('?') != -1 ? '&' : '?';
                var hash = '';
                if (link.indexOf('#') != -1) {
                    hash = link.substring(link.indexOf('#'));
                    link = link.substring(link.indexOf('#'), -1);
                }
                if (link.length > 0) {
                    link = link + separator + queryString + hash;
                }
            }
            links[i] = link;
        }
        return links;
    }

    $('#ticket .session').click(function(){

        var gtmSession;
        var linkNormal = 'https://www.commonhealth.com.tw/';
        var linkMember = 'https://www.commonhealth.com.tw/';

        var type = $(this).attr('data-type');

        switch (type) {
            case '1' :
                gtmSession = '乳癌場';
                linkNormal = 'https://www.cwbook.com.tw/subscription/SubscriptionAction.shtml?prodId=0000026479';
                linkMember = 'https://www.cwbook.com.tw/subscription/SubscriptionAction.shtml?prodId=0000026485';
                break;

            case '2' :
                gtmSession = '大腸癌場';
                linkNormal = 'https://www.cwbook.com.tw/subscription/SubscriptionAction.shtml?prodId=0000026481';
                linkMember = 'https://www.cwbook.com.tw/subscription/SubscriptionAction.shtml?prodId=0000026487';
                break;

            case '3' :
                gtmSession = '肺癌場';
                linkNormal = 'https://www.cwbook.com.tw/subscription/SubscriptionAction.shtml?prodId=0000026480';
                linkMember = 'https://www.cwbook.com.tw/subscription/SubscriptionAction.shtml?prodId=0000026486';
                break;
        }

        var links = utmTrace([linkNormal, linkMember]);
        linkNormal = links[0];
        linkMember = links[1];

        Swal.fire({
            title: '請選擇您想購買的票券類型',
            html: '<div><ul class="grid grid--plan">' +
                  '<li><a href="' + linkNormal + '" target="_blank" class="plan gtm-track" gtm-name="'+ gtmSession +'_250"><div class="plan__price gtm-track" gtm-name="'+ gtmSession +'_250"><div>論壇全日票券</div><span>NT$<strong>250</strong></span></div><div class="plan__content gtm-track"><ul><li>論壇全日票券 × 1</li><li>講者授權簡報</li><li>抗癌趨勢電子報<br>(含論壇重點整理)</li></ul><div class="action"><button class="btn btn--block btn--forumHighlight"><div class="btn__text">立即購票</div></button></div></div></li>' +
                  '<li><a href="' + linkMember + '" target="_blank" class="plan gtm-track" gtm-name="'+ gtmSession +'_350"><div class="plan__price gtm-track" gtm-name="'+ gtmSession +'_350"><div>論壇全日套組</div><span>NT$<strong>350</strong></span></div><div class="plan__content gtm-track"><ul><li class="plus">《肺癌100問》專刊 × 1</li><li>論壇全日票券 × 1</li><li>講者授權簡報</li><li>抗癌趨勢電子報<br>(含論壇重點整理)</li></ul><div class="action"><button class="btn btn--block btn--forumHighlight"><div class="btn__text">立即購票</div></button></div></div></li>' +
                  '</ul></div>',
            showCloseButton: true,
            showConfirmButton: false,
            width: 700,
            customClass: {
                popup: 'popup--ticket',
            }
        })
    });
</script>
<!-- @@close-->