<!-- @@master  = ./_layout.html-->
<!-- @@block  =  title-->
<title>tp</title>
<!-- @@close-->
<!-- @@block  =  content-->

<section class="section" id="intro">
    <div class="wrap">
        <div class="wrapper">
            <h2 class="title">講者</h2>
            <ul class="slides intro__slides">
                <li>
                    <div class="intro__info">
                        <div class="intro__avatar">
                            <div class="avatar">
                                <img src="../assets/images/forum/speaker/tp_01.png" alt="">
                            </div>
                        </div>
                        <div class="intro__name">楊泮池</div>
                        <div class="intro__title">前台大校長、中研院院士</div>
                        <button class="btn btn--inblock btn--forumOutline btn--sm"><span class="btn__text">詳細介紹</span></button>
                    </div>
                </li>
                <li>
                    <div class="intro__info">
                        <div class="intro__avatar">
                            <div class="avatar">
                                <img src="https://www.commonhealth.com.tw/event/2019/cancer/assets/images/speaker/17.jpg" alt="">
                            </div>
                        </div>
                        <div class="intro__name">蘇志中</div>
                        <div class="intro__title">台中大里仁愛醫院腫瘤治療科 執行長</div>
                        <button class="btn btn--inblock btn--forumOutline btn--sm"><span class="btn__text">詳細介紹</span></button>
                    </div>
                </li>
                <li>
                    <div class="intro__info">
                        <div class="intro__avatar">
                            <div class="avatar">
                                <img src="https://www.commonhealth.com.tw/event/2019/cancer/assets/images/speaker/17.jpg" alt="">
                            </div>
                        </div>
                        <div class="intro__name">賴聖如</div>
                        <div class="intro__title">台大醫院 營養師</div>
                        <button class="btn btn--inblock btn--forumOutline btn--sm"><span class="btn__text">詳細介紹</span></button>
                    </div>
                </li>
                <li>
                    <div class="intro__info">
                        <div class="intro__avatar">
                            <div class="avatar">
                                <img src="https://www.commonhealth.com.tw/event/2019/cancer/assets/images/speaker/17.jpg" alt="">
                            </div>
                        </div>
                        <div class="intro__name">王薏茜</div>
                        <div class="intro__title">超越復健診所院長</div>
                        <button class="btn btn--inblock btn--forumOutline btn--sm"><span class="btn__text">詳細介紹</span></button>
                    </div>
                </li>
                <li>
                    <div class="intro__info">
                        <div class="intro__avatar">
                            <div class="avatar">
                                <img src="https://www.commonhealth.com.tw/event/2019/cancer/assets/images/speaker/17.jpg" alt="">
                            </div>
                        </div>
                        <div class="intro__name">蔡奇儒</div>
                        <div class="intro__title">醫適能 MedEx創辦人</div>
                        <button class="btn btn--inblock btn--forumOutline btn--sm"><span class="btn__text">詳細介紹</span></button>
                    </div>
                </li>
                <li>
                    <div class="intro__info">
                        <div class="intro__avatar">
                            <div class="avatar">
                                <img src="../assets/images/forum/speaker/tp_06.png" alt="">
                            </div>
                        </div>
                        <div class="intro__name">杜世興</div>
                        <div class="intro__title">臺北醫學大學臺北癌症中心 副院長暨附設醫院乳房醫學中心主任</div>
                        <button class="btn btn--inblock btn--forumOutline btn--sm"><span class="btn__text">詳細介紹</span></button>
                    </div>
                </li>
                <li>
                    <div class="intro__info">
                        <div class="intro__avatar">
                            <div class="avatar">
                                <img src="https://www.commonhealth.com.tw/event/2019/cancer/assets/images/speaker/17.jpg" alt="">
                            </div>
                        </div>
                        <div class="intro__name">邱欣瑜</div>
                        <div class="intro__title">臺北醫學大學附設醫院乳房外科專科護理師</div>
                        <button class="btn btn--inblock btn--forumOutline btn--sm"><span class="btn__text">詳細介紹</span></button>
                    </div>
                </li>
                <li>
                    <div class="intro__info">
                        <div class="intro__avatar">
                            <div class="avatar">
                                <img src="https://www.commonhealth.com.tw/event/2019/cancer/assets/images/speaker/17.jpg" alt="">
                            </div>
                        </div>
                        <div class="intro__name">洪欣園</div>
                        <div class="intro__title">長庚醫院土城分院 </div>
                        <button class="btn btn--inblock btn--forumOutline btn--sm"><span class="btn__text">詳細介紹</span></button>
                    </div>
                </li>
                <li>
                    <div class="intro__info">
                        <div class="intro__avatar">
                            <div class="avatar">
                                <img src="https://www.commonhealth.com.tw/event/2019/cancer/assets/images/speaker/17.jpg" alt="">
                            </div>
                        </div>
                        <div class="intro__name">姜亭妤</div>
                        <div class="intro__title">個管師</div>
                        <button class="btn btn--inblock btn--forumOutline btn--sm"><span class="btn__text">詳細介紹</span></button>
                    </div>
                </li>
                <li>
                    <div class="intro__info">
                        <div class="intro__avatar">
                            <div class="avatar">
                                <img src="https://www.commonhealth.com.tw/event/2019/cancer/assets/images/speaker/17.jpg" alt="">
                            </div>
                        </div>
                        <div class="intro__name">陳育民</div>
                        <div class="intro__title">肺癌醫學會、台北榮總</div>
                        <button class="btn btn--inblock btn--forumOutline btn--sm"><span class="btn__text">詳細介紹</span></button>
                    </div>
                </li>
                <li>
                    <div class="intro__info">
                        <div class="intro__avatar">
                            <div class="avatar">
                                <img src="https://www.commonhealth.com.tw/event/2019/cancer/assets/images/speaker/17.jpg" alt="">
                            </div>
                        </div>
                        <div class="intro__name">洪秀瑩</div>
                        <div class="intro__title">個管師</div>
                        <button class="btn btn--inblock btn--forumOutline btn--sm"><span class="btn__text">詳細介紹</span></button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="section" id="agenda">
    <div class="wrap">
        <div class="wrapper">
            <h2 class="title">台北場議程</h2>
            <h3>上午場</h3>

            <div class="agenda">
                <div class="agenda__info">
                    <div class="agenda__time">9:30-9:35<span>主辦單位致詞</span></div>
                    <div class="agenda__speaker">
                        <div class="tag">主講人</div>
                        <div class="name">賀桂芬<span>康健雜誌總編輯</span></div>
                    </div>
                    <div class="agenda__desc">我們持續努力找尋台灣更健康的可能，關心常民生活健康、協助醫療政策研擬、帶領全民實際力行，更長期關注癌症議題，鼓勵癌症家庭重拾健康希望...</div>
                </div>
                <div class="agenda__avatar">
                    <div class="avatar">
                        <img src="../assets/images/forum/speaker/tp_06.png" alt="">
                    </div>
                 </div>
            </div>
            <div class="agenda">
                <div class="agenda__info">
                    <div class="agenda__time">9:35-9:50<span>貴賓短講致詞</span></div>
                    <div class="agenda__speaker">
                        <div class="tag">主講人</div>
                        <div class="name">國健署<span>醫事司</span></div>
                    </div>
                    <div class="agenda__desc">我們持續努力找尋台灣更健康的可能，關心常民生活健康、協助醫療政策研擬、帶領全民實際力行，更長期關注癌症議題，鼓勵癌症家庭重拾健康希望...</div>
                </div>
                <div class="agenda__avatar">
                    <div class="avatar">
                        <img src="../assets/images/forum/speaker/tp_06.png" alt="">
                    </div>
                 </div>
            </div>
            <div class="break">09:30-09:50 Break</div>
            <div class="agenda">
                <div class="agenda__info">
                    <div class="agenda__time">9:30-9:35<span>主辦單位致詞</span></div>
                    <div class="agenda__speaker">
                        <div class="tag">主講人</div>
                        <div class="name">賀桂芬<span>康健雜誌總編輯</span></div>
                    </div>
                    <div class="agenda__desc">我們持續努力找尋台灣更健康的可能，關心常民生活健康、協助醫療政策研擬、帶領全民實際力行，更長期關注癌症議題，鼓勵癌症家庭重拾健康希望...</div>
                </div>
                <div class="agenda__avatar">
                    <div class="avatar">
                        <img src="../assets/images/forum/speaker/tp_06.png" alt="">
                    </div>
                 </div>
            </div>
            <div class="agenda">
                <div class="agenda__info">
                    <div class="agenda__time">9:35-9:50<span>貴賓短講致詞</span></div>
                    <div class="agenda__speaker">
                        <div class="tag">主講人</div>
                        <div class="name">國健署<span>醫事司</span></div>
                    </div>
                    <div class="agenda__desc">我們持續努力找尋台灣更健康的可能，關心常民生活健康、協助醫療政策研擬、帶領全民實際力行，更長期關注癌症議題，鼓勵癌症家庭重拾健康希望...</div>
                </div>
                <div class="agenda__avatar">
                    <div class="avatar">
                        <img src="../assets/images/forum/speaker/tp_06.png" alt="">
                    </div>
                </div>
            </div>
            <div class="break">12:20-14:00 Break</div>
            <div class="agenda agenda--tp">
                <h3>下午場</h3>
                <div class="agenda__info">
                    <div class="agenda__time">14:00-16:00 (下午場依不同癌別，分3小場同步進行)</div>
                    <div class="agenda__desc">我們持續努力找尋台灣更健康的可能，關心常民生活健康、協助醫療政策研擬、帶領全民實際力行，更長期關注癌症議題，鼓勵癌症家庭重拾健康希望...</div>

                    <ul class="grid grid--tp">
                        <li>
                            <div class="session session--breast">
                                <div class="session__title">乳癌場</div>
                                <div class="agenda__avatar">
                                    <div class="avatar">
                                        <img src="../assets/images/forum/speaker/tp_06.png" alt="">
                                    </div>
                                </div>
                                <div class="agenda__avatar">
                                    <div class="avatar">
                                        <img src="../assets/images/forum/speaker/tp_06.png" alt="">
                                    </div>
                                </div>

                                <div class="agenda__speaker">
                                    <div class="tag">主講人</div>
                                    <div class="name">杜世興</div>
                                    <span>臺北醫學大學臺北癌症中心 副院長暨附設醫院乳房醫學中心主任</span>
                                </div>
                                <div class="agenda__speaker">
                                    <div class="tag">主講人</div>
                                    <div class="name">邱欣瑜</div>
                                    <span>臺北醫學大學附設醫院乳房外科專科護理師</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="session session--colorectal">
                                <div class="session__title">大腸癌場</div>
                                    <div class="agenda__avatar">
                                    <div class="avatar">
                                        <img src="../assets/images/forum/speaker/tp_06.png" alt="">
                                    </div>
                                </div>
                                <div class="agenda__avatar">
                                    <div class="avatar">
                                        <img src="../assets/images/forum/speaker/tp_06.png" alt="">
                                    </div>
                                </div>

                                <div class="agenda__speaker">
                                    <div class="tag">主講人</div>
                                    <div class="name">洪欣園</div>
                                    <span>臺北醫學大學臺北癌症中心 副院長暨附設醫院乳房醫學中心主任</span>
                                </div>
                                <div class="agenda__speaker">
                                    <div class="tag">主講人</div>
                                    <div class="name">姜亭妤</div>
                                    <span>個管師</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="session session--lung">
                                <div class="session__title">肺癌場</div>
                                <div class="agenda__avatar">
                                    <div class="avatar">
                                        <img src="../assets/images/forum/speaker/tp_06.png" alt="">
                                    </div>
                                </div>
                                <div class="agenda__avatar">
                                    <div class="avatar">
                                        <img src="../assets/images/forum/speaker/tp_06.png" alt="">
                                    </div>
                                </div>

                                <div class="agenda__speaker">
                                    <div class="tag">主講人</div>
                                    <div class="name">陳育民</div>
                                    <span>臺北醫學大學臺北癌症中心 副院長暨附設醫院乳房醫學中心主任</span>
                                </div>
                                <div class="agenda__speaker">
                                    <div class="tag">主講人</div>
                                    <div class="name">洪秀瑩</div>
                                    <span>個管師</span>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="memo">* 主辦單位保留議程內容與主講者更動權利</div>
        </div>
    </div>
    <div class="agenda__bg agenda__bg--ribbon01"></div>
    <div class="agenda__bg agenda__bg--ribbon02"></div>
    <div class="agenda__bg agenda__bg--ribbon03"></div>
    <div class="agenda__bg agenda__bg--ribbon04"></div>

</section>
<!-- @@close-->