<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Pragma" content="no-cache">
    <!-- @@placeholder = title -->
    <meta name="description" content="面對癌症，你我都不需懼怕！從生活飲食、醫療技術到癌後人生，抗癌生活計畫給你最需要的資訊與解方。">
    <meta name="keywords" content="癌症,癌症治療,免疫療法,康健,抗癌,癌後生活">
    <meta name="copyright" content="本網頁著作權屬康健雜誌所有">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website">
    <meta property="og:title" content="抗癌生活行動：與癌共處，更要活得精彩 │ 康健雜誌">
    <meta property="og:description" content="面對癌症，你我都不需懼怕！從生活飲食、醫療技術到癌後人生，抗癌生活計畫給你最需要的資訊與解方。">
    <meta property="og:image" content="https://www.commonhealth.com.tw/event/2020/cancer/assets/images/fb.jpg">
    <!-- @@placeholder = url -->
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./assets/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicon-16x16.png">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,700|Roboto:400,500,700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" rel="stylesheet">
    <!-- @@placeholder = style -->
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-MCMN77" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MCMN77');
    </script>
    <script src="https://apis.google.com/js/platform.js" async defer>
        { lang: 'zh-TW' }
    </script>
    <!-- End Google Tag Manager -->
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '153319238642910');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=153319238642910&ev=PageView&noscript=1"/></noscript>
    <!-- End Facebook Pixel Code -->
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="header__container">
                <div class="header__logo">
                </div>
                <nav class="nav">
                    <ul class="menu">
                        <li><a href="./" class="menu__name">首頁</a></li>
                        <li><a href="./index.html#month" class="menu__name">客座編輯</a></li>
                        <li><a href="./index.html#lavie" class="menu__name">抗癌新人生</a></li>
                        <li><a href="./index.html#thinking" class="menu__name">抗癌新思惟</a></li>
                        <li><a href="./index.html#life" class="menu__name">抗癌新生活</a></li>
                        <li><a href="./index.html#campaign" class="menu__name">抗癌懶人包</a></li>
                        <li><a href="./lung.html" class="menu__name">名醫談肺癌</a></li>
                        <li><a href="./breast.html" class="menu__name">名醫談乳癌</a></li>
                    </ul>
                </nav>
                <div class="burger">
                    <div class="burger__wrap">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </header>
        <!-- @@placeholder = content -->
        <section class="section" id="promote">
            <div class="wrap">
                <div class="wrapper">
                    <div class="promote__item normal">
                        <div class="promote__desc">
                            <h2 class="title"><span>#全新推出</span>抗癌趨勢電子報</h2>
                            <h5 class="subtitle">讓我們主動提供您最新抗癌趨勢，戰勝癌症</h5>
                            <p>訂閱抗癌趨勢報，掌握《康健》第一手癌症最新醫療趨勢、抗癌、防癌生活解方、癌後人生專訪故事，另享有癌友小聚優先參與權益。</p>
                            <div class="action">
                                <a href="https://www.commonhealth.com.tw/member/newsletter"
                                    class="btn btn--inblock btn--main" target="_blank">
                                    <span class="btn__text">免費訂閱</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- @@placeholder = sponsor -->
        <footer class="footer">
            <div class="wrap">
                <div class="wrapper">
                    <ul>
                        <li><a href="https://www.commonhealth.com.tw/" target="_blank">康健雜誌</a></li>
                        <li><a href="https://www.commonhealth.com.tw/book/index.action" target="_blank">康健出版</a></li>
                        <li><a href="https://www.youtube.com/user/CommonHealthTV" target="_blank">康健影音</a></li>
                        <li><a href="http://kb.commonhealth.com.tw/" target="_blank">康健知識庫</a></li>
                        <li><a href="https://club.commonhealth.com.tw/" target="_blank">大人社團</a></li>
                    </ul>
                    <p>Copyright © 2020 康健雜誌 All rights reserved. 本網站內容不得轉載、公開播送或公開傳輸。</p>
                </div>
            </div>
        </footer>
        <div class="bottom__fixed">
            <div class="wrap">
                <div class="wrapper">
                    <a href="https://www.commonhealth.com.tw/member/newsletter" target="_blank"
                        rel="noopener noreferrer">
                        訂閱抗癌趨勢電子報<span>讓我們主動提供您最新抗癌趨勢，戰勝癌症</span>
                        <button class="btn btn--inblock btn--white btn--xs">
                            <span class="btn__text">免費訂閱</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div id="cursor">
            <div class="blob"></div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.0/rellax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/menuspy@1.3.0/dist/menuspy.min.js"></script>
    <script src="./assets/js/main.js"></script>
    <!-- @@placeholder = script -->
</body>

</html>