<!-- @@master  = ./_layout.html-->
<!-- @@block  =  title-->
<title>抗癌生活行動：與癌共處，更要活得精彩 │ 康健雜誌</title>
<!-- @@close-->
<!-- @@block  =  url-->
<meta property="og:url" content="https://www.commonhealth.com.tw/event/2020/cancer/breast.html">
<!-- @@close-->
<!-- @@block  =  style-->
<link href="./assets/css/video.min.css" rel="stylesheet">
<!-- @@close-->
<!-- @@block  =  content-->
<div class="alert">
    <div class="wrap">
        <div class="wrapper">
            <div class="alert__content">
                因應疫情，今年的《康健癌症論壇》邀請癌症醫界權威聯手，首次以「線上影音」的方式開講，讓癌友、照顧者、關注癌症議題的夥伴，面對疫情衝擊仍能持續獲得最新、值得信賴的抗癌解方，持續陪伴癌友啟動癌後新生活。
            </div>
            <div class="alert__action">
                <div class="btn btn--mainOutline btn--inblock">
                    <div id="setCookie" class="btn__text">我知道囉！</div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="section" id="topslide">
    <ul class="slides slides--lung">
        <li>
            <div class="slides__media">
                <img src="./assets/images/img_topSlide-dp.png" alt="" class="pconly" data-content="<span>#全新策劃</span>匯聚台灣肺癌醫學權威，全面掌握治療良機">
                <img src="./assets/images/img_topSlide-mb.png" alt="" class="mbonly" data-content="<span>#全新策劃</span>匯聚台灣肺癌醫學權威，全面掌握治療良機">
            </div>
        </li>
        <li>
            <div class="slides__media">
                <img src="https://as.chdev.tw/web/article/d/1/4/d37f1ea3-1da2-4fac-9c44-e92e3d3ee512/A1017228.jpg" alt="" data-content="<span>#全新策劃</span>222">
            </div>
        </li>
        <li>
            <div class="slides__media">
                <img src="https://as.chdev.tw/web/article/d/1/4/d37f1ea3-1da2-4fac-9c44-e92e3d3ee512/A1017228.jpg" alt="" data-content="<span>#全新策劃</span>333">
            </div>
        </li>
    </ul>
    <div class="slides__content">
        <div class="slides__title">
            <h2 class="title"></h2>
            <div class="slides__action">
                <a href="" class="btn btn--mainOutline btn--auto">
                    <span class="icon icon--b icon__play icon__play--v btn__text">立即觀看</span>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="section" id="knowl">
    <div class="wrap">
        <div class="wrapper">
            <div class="section__header">
                <h2 class="section__title d-inbk"><span>認識與預防</span></h2>
                <div class="tag">#治療 #新藥 #化療 #標靶 #免疫療法</div>
            </div>
            <div class="section__content">
                <ul class="grid grid--video top">
                    <li>
                        <a href="https://www.commonhealth.com.tw/article/article.action?nid=81112"
                            target="_blank" rel="noopener noreferrer">
                            <div class="recommend recommend--list">
                                <div class="recommend__media">
                                    <img src="https://as.chdev.tw/web/article/8/0/4/8e925b68-0b5e-4283-a4fb-a4d63675cb931588904864.jpg" alt="一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯">
                                </div>
                                <div class="recommend__text">
                                    <span class="icon icon--single icon--b icon__video icon__video--pink"><span class="icon__text">10:08</span></span>
                                    <div class="desc">一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.commonhealth.com.tw/article/article.action?nid=81112"
                            target="_blank" rel="noopener noreferrer">
                            <div class="recommend recommend--list">
                                <div class="recommend__media">
                                    <img src="https://as.chdev.tw/web/article/8/0/4/8e925b68-0b5e-4283-a4fb-a4d63675cb931588904864.jpg" alt="一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯">
                                </div>
                                <div class="recommend__text">
                                    <span class="icon icon--single icon--b icon__video icon__video--pink"><span class="icon__text">10:08</span></span>
                                    <div class="desc">一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.commonhealth.com.tw/article/article.action?nid=81112"
                            target="_blank" rel="noopener noreferrer">
                            <div class="recommend recommend--list">
                                <div class="recommend__media">
                                    <img src="https://as.chdev.tw/web/article/8/0/4/8e925b68-0b5e-4283-a4fb-a4d63675cb931588904864.jpg" alt="一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯">
                                </div>
                                <div class="recommend__text">
                                    <span class="icon icon--single icon--b icon__video icon__video--pink"><span class="icon__text">10:08</span></span>
                                    <div class="desc">一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.commonhealth.com.tw/article/article.action?nid=81112"
                            target="_blank" rel="noopener noreferrer">
                            <div class="recommend recommend--list">
                                <div class="recommend__media">
                                    <img src="https://as.chdev.tw/web/article/8/0/4/8e925b68-0b5e-4283-a4fb-a4d63675cb931588904864.jpg" alt="一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯">
                                </div>
                                <div class="recommend__text">
                                    <span class="icon icon--single icon--b icon__video icon__video--pink"><span class="icon__text">10:08</span></span>
                                    <div class="desc">一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.commonhealth.com.tw/article/article.action?nid=81112"
                            target="_blank" rel="noopener noreferrer">
                            <div class="recommend recommend--list">
                                <div class="recommend__media">
                                    <img src="https://as.chdev.tw/web/article/8/0/4/8e925b68-0b5e-4283-a4fb-a4d63675cb931588904864.jpg" alt="一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯">
                                </div>
                                <div class="recommend__text">
                                    <span class="icon icon--single icon--b icon__video icon__video--pink"><span class="icon__text">10:08</span></span>
                                    <div class="desc">一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="grid grid--video more">
                    <li>
                        <a href="https://www.commonhealth.com.tw/article/article.action?nid=81112"
                            target="_blank" rel="noopener noreferrer">
                            <div class="recommend recommend--list">
                                <div class="recommend__media">
                                    <img src="https://as.chdev.tw/web/article/8/0/4/8e925b68-0b5e-4283-a4fb-a4d63675cb931588904864.jpg" alt="一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯">
                                </div>
                                <div class="recommend__text">
                                    <span class="icon icon--single icon--b icon__video icon__video--pink"><span class="icon__text">10:08</span></span>
                                    <div class="desc">一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.commonhealth.com.tw/article/article.action?nid=81112"
                            target="_blank" rel="noopener noreferrer">
                            <div class="recommend recommend--list">
                                <div class="recommend__media">
                                    <img src="https://as.chdev.tw/web/article/8/0/4/8e925b68-0b5e-4283-a4fb-a4d63675cb931588904864.jpg" alt="一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯">
                                </div>
                                <div class="recommend__text">
                                    <span class="icon icon--single icon--b icon__video icon__video--pink"><span class="icon__text">10:08</span></span>
                                    <div class="desc">一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.commonhealth.com.tw/article/article.action?nid=81112"
                            target="_blank" rel="noopener noreferrer">
                            <div class="recommend recommend--list">
                                <div class="recommend__media">
                                    <img src="https://as.chdev.tw/web/article/8/0/4/8e925b68-0b5e-4283-a4fb-a4d63675cb931588904864.jpg" alt="一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯">
                                </div>
                                <div class="recommend__text">
                                    <span class="icon icon--single icon--b icon__video icon__video--pink"><span class="icon__text">10:08</span></span>
                                    <div class="desc">一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="action more">
                    <button class="btn btn--inblock btn--main">
                        <div class="btn__text">看更多</div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section" id="cure">
    <div class="wrap">
        <div class="wrapper">
            <div class="section__header">
                <h2 class="section__title d-inbk"><span>肺癌治療</span></h2>
                <div class="tag">#治療 #新藥 #化療 #標靶 #免疫療法</div>
            </div>
            <div class="section__content">
                <ul class="grid grid--three top">
                    <li>
                        <a href="https://www.commonhealth.com.tw/article/article.action?nid=81112"
                            target="_blank" rel="noopener noreferrer">
                            <div class="recommend recommend--list">
                                <div class="recommend__media">
                                    <img src="https://as.chdev.tw/web/article/8/0/4/8e925b68-0b5e-4283-a4fb-a4d63675cb931588904864.jpg" alt="一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯">
                                </div>
                                <div class="recommend__text">
                                    <span class="icon icon--single icon--b icon__video icon__video--pink"><span class="icon__text">10:08</span></span>
                                    <div class="desc">一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.commonhealth.com.tw/article/article.action?nid=81112"
                            target="_blank" rel="noopener noreferrer">
                            <div class="recommend recommend--list">
                                <div class="recommend__media">
                                    <img src="https://as.chdev.tw/web/article/8/0/4/8e925b68-0b5e-4283-a4fb-a4d63675cb931588904864.jpg" alt="一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯">
                                </div>
                                <div class="recommend__text">
                                    <span class="icon icon--single icon--b icon__video icon__video--pink"><span class="icon__text">10:08</span></span>
                                    <div class="desc">一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.commonhealth.com.tw/article/article.action?nid=81112"
                            target="_blank" rel="noopener noreferrer">
                            <div class="recommend recommend--list">
                                <div class="recommend__media">
                                    <img src="https://as.chdev.tw/web/article/8/0/4/8e925b68-0b5e-4283-a4fb-a4d63675cb931588904864.jpg" alt="一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯">
                                </div>
                                <div class="recommend__text">
                                    <span class="icon icon--single icon--b icon__video icon__video--pink"><span class="icon__text">10:08</span></span>
                                    <div class="desc">一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.commonhealth.com.tw/article/article.action?nid=81112"
                            target="_blank" rel="noopener noreferrer">
                            <div class="recommend recommend--list">
                                <div class="recommend__media">
                                    <img src="https://as.chdev.tw/web/article/8/0/4/8e925b68-0b5e-4283-a4fb-a4d63675cb931588904864.jpg" alt="一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯">
                                </div>
                                <div class="recommend__text">
                                    <span class="icon icon--single icon--b icon__video icon__video--pink"><span class="icon__text">10:08</span></span>
                                    <div class="desc">一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.commonhealth.com.tw/article/article.action?nid=81112"
                            target="_blank" rel="noopener noreferrer">
                            <div class="recommend recommend--list">
                                <div class="recommend__media">
                                    <img src="https://as.chdev.tw/web/article/8/0/4/8e925b68-0b5e-4283-a4fb-a4d63675cb931588904864.jpg" alt="一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯">
                                </div>
                                <div class="recommend__text">
                                    <span class="icon icon--single icon--b icon__video icon__video--pink"><span class="icon__text">10:08</span></span>
                                    <div class="desc">一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.commonhealth.com.tw/article/article.action?nid=81112"
                            target="_blank" rel="noopener noreferrer">
                            <div class="recommend recommend--list">
                                <div class="recommend__media">
                                    <img src="https://as.chdev.tw/web/article/8/0/4/8e925b68-0b5e-4283-a4fb-a4d63675cb931588904864.jpg" alt="一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯">
                                </div>
                                <div class="recommend__text">
                                    <span class="icon icon--single icon--b icon__video icon__video--pink"><span class="icon__text">10:08</span></span>
                                    <div class="desc">一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="grid grid--three more">
                    <li>
                        <a href="https://www.commonhealth.com.tw/article/article.action?nid=81112"
                            target="_blank" rel="noopener noreferrer">
                            <div class="recommend recommend--list">
                                <div class="recommend__media">
                                    <img src="https://as.chdev.tw/web/article/8/0/4/8e925b68-0b5e-4283-a4fb-a4d63675cb931588904864.jpg" alt="一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯">
                                </div>
                                <div class="recommend__text">
                                    <span class="icon icon--single icon--b icon__video icon__video--pink"><span class="icon__text">10:08</span></span>
                                    <div class="desc">一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.commonhealth.com.tw/article/article.action?nid=81112"
                            target="_blank" rel="noopener noreferrer">
                            <div class="recommend recommend--list">
                                <div class="recommend__media">
                                    <img src="https://as.chdev.tw/web/article/8/0/4/8e925b68-0b5e-4283-a4fb-a4d63675cb931588904864.jpg" alt="一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯">
                                </div>
                                <div class="recommend__text">
                                    <span class="icon icon--single icon--b icon__video icon__video--pink"><span class="icon__text">10:08</span></span>
                                    <div class="desc">一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.commonhealth.com.tw/article/article.action?nid=81112"
                            target="_blank" rel="noopener noreferrer">
                            <div class="recommend recommend--list">
                                <div class="recommend__media">
                                    <img src="https://as.chdev.tw/web/article/8/0/4/8e925b68-0b5e-4283-a4fb-a4d63675cb931588904864.jpg" alt="一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯">
                                </div>
                                <div class="recommend__text">
                                    <span class="icon icon--single icon--b icon__video icon__video--pink"><span class="icon__text">10:08</span></span>
                                    <div class="desc">一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.commonhealth.com.tw/article/article.action?nid=81112"
                            target="_blank" rel="noopener noreferrer">
                            <div class="recommend recommend--list">
                                <div class="recommend__media">
                                    <img src="https://as.chdev.tw/web/article/8/0/4/8e925b68-0b5e-4283-a4fb-a4d63675cb931588904864.jpg" alt="一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯">
                                </div>
                                <div class="recommend__text">
                                    <span class="icon icon--single icon--b icon__video icon__video--pink"><span class="icon__text">10:08</span></span>
                                    <div class="desc">一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="action more">
                    <button class="btn btn--inblock btn--main">
                        <div class="btn__text">看更多</div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section" id="care">
    <div class="wrap">
        <div class="wrapper">
            <div class="section__header">
                <h2 class="section__title d-inbk"><span>癌後照顧</span></h2>
                <div class="tag">#中醫調養 #追蹤 #個案管理師 #復發</div>
            </div>
            <div class="section__content">
                <ul class="grid grid--video top">
                    <li>
                        <a href="https://www.commonhealth.com.tw/article/article.action?nid=81112"
                            target="_blank" rel="noopener noreferrer">
                            <div class="recommend recommend--list">
                                <div class="recommend__media">
                                    <img src="https://as.chdev.tw/web/article/8/0/4/8e925b68-0b5e-4283-a4fb-a4d63675cb931588904864.jpg" alt="一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯">
                                </div>
                                <div class="recommend__text">
                                    <span class="icon icon--single icon--b icon__video icon__video--pink"><span class="icon__text">10:08</span></span>
                                    <div class="desc">一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.commonhealth.com.tw/article/article.action?nid=81112"
                            target="_blank" rel="noopener noreferrer">
                            <div class="recommend recommend--list">
                                <div class="recommend__media">
                                    <img src="https://as.chdev.tw/web/article/8/0/4/8e925b68-0b5e-4283-a4fb-a4d63675cb931588904864.jpg" alt="一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯">
                                </div>
                                <div class="recommend__text">
                                    <span class="icon icon--single icon--b icon__video icon__video--pink"><span class="icon__text">10:08</span></span>
                                    <div class="desc">一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.commonhealth.com.tw/article/article.action?nid=81112"
                            target="_blank" rel="noopener noreferrer">
                            <div class="recommend recommend--list">
                                <div class="recommend__media">
                                    <img src="https://as.chdev.tw/web/article/8/0/4/8e925b68-0b5e-4283-a4fb-a4d63675cb931588904864.jpg" alt="一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯">
                                </div>
                                <div class="recommend__text">
                                    <span class="icon icon--single icon--b icon__video icon__video--pink"><span class="icon__text">10:08</span></span>
                                    <div class="desc">一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.commonhealth.com.tw/article/article.action?nid=81112"
                            target="_blank" rel="noopener noreferrer">
                            <div class="recommend recommend--list">
                                <div class="recommend__media">
                                    <img src="https://as.chdev.tw/web/article/8/0/4/8e925b68-0b5e-4283-a4fb-a4d63675cb931588904864.jpg" alt="一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯">
                                </div>
                                <div class="recommend__text">
                                    <span class="icon icon--single icon--b icon__video icon__video--pink"><span class="icon__text">10:08</span></span>
                                    <div class="desc">一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.commonhealth.com.tw/article/article.action?nid=81112"
                            target="_blank" rel="noopener noreferrer">
                            <div class="recommend recommend--list">
                                <div class="recommend__media">
                                    <img src="https://as.chdev.tw/web/article/8/0/4/8e925b68-0b5e-4283-a4fb-a4d63675cb931588904864.jpg" alt="一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯">
                                </div>
                                <div class="recommend__text">
                                    <span class="icon icon--single icon--b icon__video icon__video--pink"><span class="icon__text">10:08</span></span>
                                    <div class="desc">一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="grid grid--video more">
                    <li>
                        <a href="https://www.commonhealth.com.tw/article/article.action?nid=81112"
                            target="_blank" rel="noopener noreferrer">
                            <div class="recommend recommend--list">
                                <div class="recommend__media">
                                    <img src="https://as.chdev.tw/web/article/8/0/4/8e925b68-0b5e-4283-a4fb-a4d63675cb931588904864.jpg" alt="一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯">
                                </div>
                                <div class="recommend__text">
                                    <span class="icon icon--single icon--b icon__video icon__video--pink"><span class="icon__text">10:08</span></span>
                                    <div class="desc">一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.commonhealth.com.tw/article/article.action?nid=81112"
                            target="_blank" rel="noopener noreferrer">
                            <div class="recommend recommend--list">
                                <div class="recommend__media">
                                    <img src="https://as.chdev.tw/web/article/8/0/4/8e925b68-0b5e-4283-a4fb-a4d63675cb931588904864.jpg" alt="一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯">
                                </div>
                                <div class="recommend__text">
                                    <span class="icon icon--single icon--b icon__video icon__video--pink"><span class="icon__text">10:08</span></span>
                                    <div class="desc">一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.commonhealth.com.tw/article/article.action?nid=81112"
                            target="_blank" rel="noopener noreferrer">
                            <div class="recommend recommend--list">
                                <div class="recommend__media">
                                    <img src="https://as.chdev.tw/web/article/8/0/4/8e925b68-0b5e-4283-a4fb-a4d63675cb931588904864.jpg" alt="一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯">
                                </div>
                                <div class="recommend__text">
                                    <span class="icon icon--single icon--b icon__video icon__video--pink"><span class="icon__text">10:08</span></span>
                                    <div class="desc">一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="action more">
                    <button class="btn btn--inblock btn--main">
                        <div class="btn__text">看更多</div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section" id="todo">
    <div class="wrap">
        <div class="wrapper">
            <div class="section__header">
                <h2 class="section__title"><span>照顧者實戰</span></h2>
                <p>當家人罹癌，我們陪你長期抗戰。居家照顧要注意什麼？該如何準備？</p>
            </div>
            <div class="section__content">
                <div class="hscroll__wrap">
                    <div class="hscroll__wrapper">
                        <ul class="grid grid--hscroll">
                            <li>
                                <a href="https://www.commonhealth.com.tw/article/article.action?nid=81112" target="_blank" rel="noopener noreferrer">
                                    <div class="recommend">
                                        <div class="recommend__media">
                                            <img src="https://as.chdev.tw/web/article/8/0/4/8e925b68-0b5e-4283-a4fb-a4d63675cb931588904864.jpg" alt="一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯">
                                        </div>
                                        <div class="recommend__text">
                                            <span class="icon icon--single icon--b icon__video icon__video--pink"><span class="icon__text">10:08</span></span>
                                            <div class="desc">一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯</div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.commonhealth.com.tw/article/article.action?nid=81112" target="_blank" rel="noopener noreferrer">
                                    <div class="recommend">
                                        <div class="recommend__media">
                                            <img src="https://as.chdev.tw/web/article/8/0/4/8e925b68-0b5e-4283-a4fb-a4d63675cb931588904864.jpg" alt="一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯">
                                        </div>
                                        <div class="recommend__text">
                                            <span class="icon icon--single icon--b icon__video icon__video--pink"><span class="icon__text">10:08</span></span>
                                            <div class="desc">一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯</div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.commonhealth.com.tw/article/article.action?nid=81112" target="_blank" rel="noopener noreferrer">
                                    <div class="recommend">
                                        <div class="recommend__media">
                                            <img src="https://as.chdev.tw/web/article/8/0/4/8e925b68-0b5e-4283-a4fb-a4d63675cb931588904864.jpg" alt="一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯">
                                        </div>
                                        <div class="recommend__text">
                                            <span class="icon icon--single icon--b icon__video icon__video--pink"><span class="icon__text">10:08</span></span>
                                            <div class="desc">一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯</div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.commonhealth.com.tw/article/article.action?nid=81112" target="_blank" rel="noopener noreferrer">
                                    <div class="recommend">
                                        <div class="recommend__media">
                                            <img src="https://as.chdev.tw/web/article/8/0/4/8e925b68-0b5e-4283-a4fb-a4d63675cb931588904864.jpg" alt="一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯">
                                        </div>
                                        <div class="recommend__text">
                                            <span class="icon icon--single icon--b icon__video icon__video--pink"><span class="icon__text">10:08</span></span>
                                            <div class="desc">一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯</div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.commonhealth.com.tw/article/article.action?nid=81112" target="_blank" rel="noopener noreferrer">
                                    <div class="recommend">
                                        <div class="recommend__media">
                                            <img src="https://as.chdev.tw/web/article/8/0/4/8e925b68-0b5e-4283-a4fb-a4d63675cb931588904864.jpg" alt="一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯">
                                        </div>
                                        <div class="recommend__text">
                                            <span class="icon icon--single icon--b icon__video icon__video--pink"><span class="icon__text">10:08</span></span>
                                            <div class="desc">一名年輕癌友的告白：那些殺不死我的淋巴癌　反而讓我更強壯</div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section" id="other">
    <div class="wrap">
        <div class="wrapper">
            <a href="./lung.html">
                <div class="section__content breast">
                    <div class="section__header">
                        <h2>名醫談肺癌</h2>
                    </div>
                    <p>前往名醫談肺癌，了解更多肺乳癌資訊，如何治療、癌後照顧、照顧者實戰等影音。</p>

                    <div class="btn btn--main btn--inblock"><div class="btn__text">了解更多</div></div>
                </div>
            </a>
        </div>
    </div>
</section>
<!-- @@close-->
<!-- @@block  =  sponsor-->
<section class="section" id="sponsor">
    <div class="wrap">
        <div class="wrapper">
            <h2 class="title">共同推動</h2>
            <div>
                <h5 class="subtitle">主辦單位</h5>
                <img src="./assets/images/forum/sponsor/sponsor_ch@3x.jpg" alt="" height="40">
            </div>
            <div>
                <h5 class="subtitle">倡議夥伴</h5>
            </div>
        </div>
    </div>
</section>
<!-- @@close-->
<!-- @@block  =  script-->
<script>
    $(document).ready(function () {

        //first slide
        $('.slides--lung').on('init', function(event, slick, direction){
            var text = $('.slick-slide.slick-active .slides__media img').data('content');
            $('.slides__content').find('.title').html(text);
        });

        $('.slides--lung').on('afterChange', function(event, slick, currentSlide){

            var text = $('.slick-slide.slick-active .slides__media img').data('content');
            $('.slides__content').find('.title').html(text);
        });

        $('.slides--lung').slick({
            arrows: false,
            dots: true,
            appendDots: $(this).find('.slides__title'),
            dotsClass: 'slides__dots slides__dots--violet slides__dots--video',
        });

    });
</script>