<!DOCTYPE html>
<html lang="en">
    <head>
        <title>抗癌生活行動</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../assets/css/slick.css" rel="stylesheet">
        <link href="../assets/css/slick-theme.css" rel="stylesheet">
        <link href="../assets/css/chart.css" rel="stylesheet">
        <link href="../assets/css/main.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <header class="header">
                <div class="header__container">
                    <div class="header__logo">
                    </div>
                    <nav class="nav">
                        <ul class="menu">
                            <li><a href="" class="menu__name">首頁</a></li>
                            <li><a href="#month" class="menu__name">客座編輯</a></li>
                            <li><a href="#life" class="menu__name">抗癌新生活</a></li>
                            <li><a href="#thinking" class="menu__name">抗癌新思惟</a></li>
                            <li><a href="#lavie" class="menu__name">抗癌新人生</a></li>
                            <li>
                                <div class="menu__highlight">
                                    <div class="menu__name">論壇資訊</div>
                                    <ul class="menu__content">
                                        <li><a href="./forum/kh.html" class="btn btn--inblock btn--secOutline"><span class="btn__text"><span class="mbonly">4.18</span> 高雄</span></a></li>
                                        <li><a href="./forum/tc.html" class="btn btn--inblock btn--secOutline"><span class="btn__text"><span class="mbonly">4.19</span> 台中</span></a></li>
                                        <li><a href="./forum/tp.html" class="btn btn--inblock btn--secOutline"><span class="btn__text"><span class="mbonly">4.24</span> 台北</span></a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <div class="burger">
                        <div class="burger__wrap">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </header>
            <div class="ad">
            </div>
            <section class="section" id="topslide">
                <div class="wrap">
                    <div class="wrapper">
                        <ul class="slides top__slides">
                            <li>
                                <div class="slides__top">
                                    <img src="https://www.commonhealth.com.tw/event/2019/rehab/assets/images/video_cover.png" alt="">
                                </div class="">
                            </li>
                            <li>
                                <div class="slides__top">
                                    <img src="https://www.commonhealth.com.tw/event/2019/rehab/assets/images/activity_03.jpg" alt="">
                                </div>
                            </li>
                            <li>
                                <div class="slides__top">
                                    <img src="https://www.commonhealth.com.tw/event/2019/rehab/assets/images/activity_04.jpg" alt="">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="section" id="chart">
                <div class="wrap">
                    <div class="wrapper">
                        <div class="section__title">癌症關鍵數字</div>
                        <div class="chart">
                            <div class="chart__desc">
                                <div class="subtitle">台灣癌症時鐘</div>
                                <p>國民健康署統計，平均每4分鐘58秒就有1人罹癌。</p>
                                <div>資料來源：衛生福利部</div>
                            </div>
                            <div class="chart__canvas">
                            </div>
                        </div>
                        <div class="chart">
                            <div class="chart__desc">
                                <div class="subtitle">國人十大死因</div>
                                <p>衛生福利部統計數據顯示，惡性腫瘤佔比28.2%，為國人十大死因之冠。</p>
                                <div>資料來源：衛生福利部</div>
                            </div>
                            <div class="chart__canvas">
                                <canvas id="chart1" width="400" height="400"></canvas>
                            </div>
                        </div>
                        <div class="chart">
                            <div class="chart__desc">
                                <div class="subtitle">家族癌症病史分佈</div>
                                <p>根據台灣人體生物資料庫統計數據，家族癌症史分布中，肝癌佔比居冠，達9.3%，其次為肺癌7.8%、乳癌6.5%、胃癌3.8%、大腸癌8.6%。</p>
                                <div>資料來源：台灣人體生物資料庫</div>
                            </div>
                            <div class="chart__canvas">
                                <canvas id="chart2" width="400" height="400"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section" id="month">
                <div class="wrap">
                    <div class="wrapper">
                        <div class="section__title">本月客座編輯</div>
                        <p>因應趨勢潮流，每月客座編輯將會邀請四到五位與醫療或健康領域的相關人士，針對當月主題做系列對談，為民眾竟解惑。</p>
                        <div>
                            <ul class="grid grid--month">
                                <li>
                                    <div class="recommend">
                                        <div class="recommend__media">
                                            <img src="https://www.commonhealth.com.tw/event/2019/rehab/assets/images/video_cover.png" alt="">
                                        </div>
                                        <div class="recommend__text">本月客座編輯，趨勢潮流，每月客座編輯</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="recommend">
                                        <div class="recommend__media">
                                            <img src="https://www.commonhealth.com.tw/event/2019/rehab/assets/images/video_cover.png" alt="">
                                        </div>
                                        <div class="recommend__text">本月客座編輯，趨勢潮流，每月客座編輯</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="recommend">
                                        <div class="recommend__media">
                                            <img src="https://www.commonhealth.com.tw/event/2019/rehab/assets/images/video_cover.png" alt="">
                                        </div>
                                        <div class="recommend__text">本月客座編輯，趨勢潮流，每月客座編輯</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="recommend">
                                        <div class="recommend__media">
                                            <img src="https://www.commonhealth.com.tw/event/2019/rehab/assets/images/video_cover.png" alt="">
                                        </div>
                                        <div class="recommend__text">本月客座編輯，趨勢潮流，每月客座編輯</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <div class="ad"></div>
            <section class="section topic" id="life">
                <div class="wrap">
                    <div class="wrapper">
                        <div class="section__title">抗癌新生活</div>
                        <div class="section__content">
                            <ul class="grid grid--topic top">
                                <li>
                                    <a href="https://www.commonhealth.com.tw/article/article.action?nid=72326" target="_blank" rel="noopener noreferrer">
                                        <div class="recommend">
                                            <div class="recommend__media">
                                                <img src="https://as.chdev.tw/web/article/photos/1/5/7/978cb4e4017c8ffcd59b7fadae9998616c12ba8d.jpg" alt="">
                                            </div>
                                            <div class="recommend__text">晴天霹靂後，癌友和家屬該知道的事</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.commonhealth.com.tw/article/article.action?nid=79343" target="_blank" rel="noopener noreferrer">
                                        <div class="recommend">
                                            <div class="recommend__media">
                                                <img src="https://as.chdev.tw/web/article/photos/1/5/7/bec5f9909172fc706df5c8b4a124b8d8ba0729d7.jpg" alt="">
                                            </div>
                                            <div class="recommend__text">女星鼻咽癌末期病逝　醫師提醒：小心誤把鼻咽癌當作鼻炎</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.commonhealth.com.tw/article/article.action?nid=80115" target="_blank" rel="noopener noreferrer">
                                        <div class="recommend">
                                            <div class="recommend__media">
                                                <img src="https://as.chdev.tw/web/article/photos/1/5/7/3caf3acc707c2a4ec090d702e049e386c377736e.jpg" alt="">
                                            </div>
                                            <div class="recommend__text">作家幸佳慧壺腹癌病逝 此疾病成因不明...若出現這3種症狀得警覺</div>
                                        </div>
                                    </a>
                                </li>
                                <div class="action more">
                                    <button class="btn btn--inblock btn--main"><div class="btn__text">看更多</div></button>
                                </div>
                            </ul>

                            <ul class="grid grid--topic more">
                                <li>
                                    <a href="https://www.commonhealth.com.tw/article/article.action?nid=62717" target="_blank" rel="noopener noreferrer">
                                        <div class="recommend">
                                            <div class="recommend__media">
                                                <img src="https://as.chdev.tw/web/article/photos/1/5/7/5d489ca07b58e31a588a757723555cc82f868877.jpg" alt="">
                                            </div>
                                            <div class="recommend__text">甲狀腺癌治療效果好，最不用恐慌</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.commonhealth.com.tw/article/article.action?nid=80436" target="_blank" rel="noopener noreferrer">
                                        <div class="recommend">
                                            <div class="recommend__media">
                                                <img src="https://as.chdev.tw/web/article/photos/1/5/7/950ae7be743a78c52410f3cf7d1e901258da4887.jpg" alt="">
                                            </div>
                                            <div class="recommend__text">久病不癒10症狀　恐是神經內分泌瘤</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.commonhealth.com.tw/article/article.action?nid=74275" target="_blank" rel="noopener noreferrer">
                                        <div class="recommend">
                                            <div class="recommend__media">
                                                <img src="https://as.chdev.tw/web/article/photos/1/5/7/ebe6745fffbf2fae514f445d340919322aab9f8b.jpg" alt="">
                                            </div>
                                            <div class="recommend__text">癌後運動，元氣滿滿</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section topic" id="thinking">
                <div class="wrap">
                    <div class="wrapper">
                        <div class="section__title">抗癌新思維</div>
                        <div class="section__content">
                            <ul class="grid grid--topic top">
                                <li>
                                    <a href="https://www.commonhealth.com.tw/article/article.action?nid=77007" target="_blank" rel="noopener noreferrer">
                                        <div class="recommend">
                                            <div class="recommend__media">
                                                <img src="https://as.chdev.tw/web/article/photos/1/5/7/1a2ec25e8f99a24f80a18c833a9c802292744997.jpg" alt="">
                                            </div>
                                            <div class="recommend__text">皮膚照護好 標靶治療不再癢痛難耐</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.commonhealth.com.tw/article/article.action?nid=70095" target="_blank" rel="noopener noreferrer">
                                        <div class="recommend">
                                            <div class="recommend__media">
                                                <img src="https://as.chdev.tw/web/article/photos/1/5/7/30115e665eb47496ee2eaff1edefbbf2a2c82472.jpg" alt="">
                                            </div>
                                            <div class="recommend__text">發炎其實很可怕！它會刺激癌細胞生長 </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.commonhealth.com.tw/article/article.action?nid=61707" target="_blank" rel="noopener noreferrer">
                                        <div class="recommend">
                                            <div class="recommend__media">
                                                <img src="https://as.chdev.tw/web/article/photos/1/5/7/c8bf0abe5483ea79ea47c1e2c1ab52fd9bb192e6.jpg" alt="">
                                            </div>
                                            <div class="recommend__text">癌症患者的記憶 比一般人容易衰退</div>
                                        </div>
                                    </a>
                                </li>
                                <div class="action more">
                                    <button class="btn btn--inblock btn--main"><div class="btn__text">看更多</div></button>
                                </div>
                            </ul>

                            <ul class="grid grid--topic more">
                                <li>
                                    <a href="https://www.commonhealth.com.tw/article/article.action?nid=80325" target="_blank" rel="noopener noreferrer">
                                        <div class="recommend">
                                            <div class="recommend__media">
                                                <img src="https://as.chdev.tw/web/article/photos/1/5/7/e961596f4c4da5c132b2e821af5bd7fa029928a4.jpg" alt="">
                                            </div>
                                            <div class="recommend__text">HPV疫苗不安全？醫師：會讓女兒施打</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.commonhealth.com.tw/blog/blogTopic.action?nid=2722" target="_blank" rel="noopener noreferrer">
                                        <div class="recommend">
                                            <div class="recommend__media">
                                                <img src="https://as.chdev.tw/web/article/photos/1/5/7/05ab5c8b0277036aeec44fd5ffede1d0c8b4c879.jpg" alt="">
                                            </div>
                                            <div class="recommend__text">精準醫療其實不只是基因</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.commonhealth.com.tw/article/article.action?nid=74935" target="_blank" rel="noopener noreferrer">
                                        <div class="recommend">
                                            <div class="recommend__media">
                                                <img src="https://as.chdev.tw/web/article/photos/1/5/7/f5c46cb913b10912da1a2dfeb7ad0f03381a9148.jpg" alt="">
                                            </div>
                                            <div class="recommend__text">楊志新：癌不是單一疾病 確實診斷再治療</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section topic" id="lavie">
                <div class="wrap">
                    <div class="wrapper">
                        <div class="section__title">抗癌新人生</div>
                        <div class="section__content">
                            <ul class="grid grid--topic top">
                                <li>
                                    <a href="https://www.commonhealth.com.tw/article/article.action?nid=79192" target="_blank" rel="noopener noreferrer">
                                        <div class="recommend">
                                            <div class="recommend__media">
                                                <img src="https://as.chdev.tw/web/article/photos/1/5/7/a7035ee4a532d161e85c3b813e50d10b4b5002ca.JPG" alt="">
                                            </div>
                                            <div class="recommend__text">陳佩琪從肺腺癌學會慢活3招：因為被需要 我要努力活久一點</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.commonhealth.com.tw/article/article.action?nid=80171" target="_blank" rel="noopener noreferrer">
                                        <div class="recommend">
                                            <div class="recommend__media">
                                                <img src="https://as.chdev.tw/web/article/photos/1/5/7/e8da45cdfafd4ce6a483a8ac2196f4d7ced369ba.jpg" alt="">
                                            </div>
                                            <div class="recommend__text">侯麗芳夫長過6腫瘤　路倒冷靜自救：隨意搬動恐癱瘓</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.commonhealth.com.tw/article/article.action?nid=78190" target="_blank" rel="noopener noreferrer">
                                        <div class="recommend">
                                            <div class="recommend__media">
                                                <img src="https://as.chdev.tw/web/article/photos/1/5/7/19bc6c7490117cba06858be687f419877d2f7d83.jpg" alt="">
                                            </div>
                                            <div class="recommend__text">抗癌女孩謝采倪：就算化療掉髮，還是要漂漂亮亮</div>
                                        </div>
                                    </a>
                                </li>
                                <div class="action more">
                                    <button class="btn btn--inblock btn--main"><div class="btn__text">看更多</div></button>
                                </div>
                            </ul>

                            <ul class="grid grid--topic more">
                                <li>
                                    <a href="https://www.commonhealth.com.tw/article/article.action?nid=77162" target="_blank" rel="noopener noreferrer">
                                        <div class="recommend">
                                            <div class="recommend__media">
                                                <img src="https://as.chdev.tw/web/article/photos/1/5/7/50aa048136ce1123b8bba0f5845c5a63f0b47f32.jpg" alt="">
                                            </div>
                                            <div class="recommend__text">罹癌醫師經驗談│李豐：罹癌，開啟不生病的生活</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.commonhealth.com.tw/article/article.action?nid=78826" target="_blank" rel="noopener noreferrer">
                                        <div class="recommend">
                                            <div class="recommend__media">
                                                <img src="https://as.chdev.tw/web/article/photos/1/5/7/cbdccbe1e1d7abf981959d6223f711c8f0b3ce3f.jpg" alt="">
                                            </div>
                                            <div class="recommend__text">走過抗癌路　中醫師喬聖琳：怕沒用，就去面對吧！</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.commonhealth.com.tw/article/article.action?nid=78083" target="_blank" rel="noopener noreferrer">
                                        <div class="recommend">
                                            <div class="recommend__media">
                                                <img src="https://as.chdev.tw/web/article/photos/1/5/7/3e59be368c08fe69264966f353e2836a281453ca.jpg" alt="">
                                            </div>
                                            <div class="recommend__text">跨越時空的純愛 骨肉癌截肢少女柯菲比：能燦爛的日子 我就不會白過</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section" id="promote">
                <div class="wrap">
                    <div class="wrapper">
                        <div class="promote__item">
                            <div class="promote__desc">
                                <h2 class="title"><span>#全新推出</span>抗癌趨勢電子報</h2>
                                <div class="subtitle">讓我們主動提供您最新抗癌趨勢，戰勝癌症</div>
                                <p>訂閱抗癌趨勢報，掌握《康健》第一手癌症最新醫療趨勢、抗癌、防癌生活解方、癌後人生專訪故事，另享有癌友小聚優先參與權益。</p>
                                <div class="action">
                                    <a href="#" class="btn btn--inblock btn--main" target="_blank">
                                        <span class="btn__text">免費訂閱</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="promote__item heighlight">
                            <div class="promote__desc">
                                <h2 class="title"><span>#最新論壇</span>精準抗癌智慧醫療 啟動癌後新生活</h2>
                                <div class="subtitle">與癌共處，更要活得精彩</div>
                                <p>過去治療癌症從外科手術、化療、放療都是從外去除腫瘤細胞，而免疫療法是運用人體內在免疫系統攻擊腫瘤細胞。這個治癌方法的重大突破，為許多原本無藥可治的癌症病人延長生命，甚至治癒。</p>
                                <div class="action">
                                    <a href="#" class="btn btn--inblock btn--sec" target="_blank"><span class="btn__text">4.18 高雄</span></a>
                                    <a href="#" class="btn btn--inblock btn--sec" target="_blank"><span class="btn__text">4.19 台中</span></a>
                                    <a href="#" class="btn btn--inblock btn--sec" target="_blank"><span class="btn__text">4.26 台北</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section" id="sponsor">
                <div class="wrap">
                    <div class="wrapper">
                        <h2 class="title">共同推動</h2>
                        <div>
                            <div class="subtitle">主辦單位</div>
                            <img src="../assets/images/forum/sponsor/sponsor_ch@3x.jpg" alt="" height="40">
                            <img src="../assets/images/forum/sponsor/sponsor_ch@3x.jpg" alt="" height="40">
                        </div>
                        <div class="subtitle">關懷夥伴</div>
                        <div class="subtitle">指導單位</div>
                    </div>
                </div>
            </section>
            <section class="ad"></section>
            <footer class="footer">
                <div class="wrap">
                    <div class="wrapper">
                        <ul>
                            <li><a href="https://www.commonhealth.com.tw/" target="_blank">康健雜誌</a></li>
                            <li><a href="https://www.commonhealth.com.tw/book/index.action" target="_blank">康健出版</a></li>
                            <li><a href="https://www.youtube.com/user/CommonHealthTV" target="_blank">康健影音</a></li>
                            <li><a href="http://kb.commonhealth.com.tw/" target="_blank">康健知識庫</a></li>
                            <li><a href="https://club.commonhealth.com.tw/" target="_blank">大人社團</a></li>
                        </ul>
                        <p>Copyright © 2020 康健雜誌. All rights reserved. 版權所有，禁止擅自轉貼節錄</p>
                    </div>
                </div>
            </footer>

            <div id="cursor">
                <div class="blob"></div>
            </div>
        </divz>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="./assets/js/slick.min.js"></script>
        <script src="./assets/js/menuspy.min.js"></script>
        <script src="./assets/js/chart.js"></script>
        <script src="./assets/js/main.js"></script>
        <script>
            $(document).ready(function() {

                var fontFamily = "'Roboto', 'Noto Sans TC', 'LiHei Pro  Medium', 'Microsoft JhengHei', '新細明體', 'Arial', 'sans-serif'";

                new Chart($('#chart1'), {
                    type: 'doughnut',
                    data: {
                        labels: ['惡性腫瘤', '心臟疾病（高血壓性疾病除外）', '肺炎', '腦血管疾病', '糖尿病', '事故傷害', '慢性下呼吸道疾病', '高血壓性疾病', '腎炎、腎病症候群及腎病變', '慢性肝病及肝硬化'],
                        datasets: [{
                            data: [28.2, 12.5, 7.8, 6.7, 5.4, 4.0, 3.6, 3.5, 3.2, 2.5],
                            backgroundColor: [
                                '#705f92',
                                '#705f92',
                                '#8d7fa8',
                                '#8d7fa8',
                                '#8d7fa8',
                                '#a99fbe',
                                '#c6bfd3',
                                '#c6bfd3',
                                '#e2dfe9',
                                '#e2dfe9',
                            ],
                        }]
                    },
                    options: {
                        responsive: true,
                        cutoutPercentage: 40,
                        legend: {
                            display: false
                        }
                    }
                });

                new Chart($('#chart2'), {
                    type: 'horizontalBar',
                    data: {
                        labels: ['卵巢癌', '子宮癌', '子宮頸癌', '前列腺癌', '鼻咽癌', '大腸直腸癌', '胃癌', '乳癌', '肺癌', '肝癌'],
                        datasets: [{
                            data: [0.7, 1.3, 3.3, 2.0, 2.1, 8.6, 3.8, 6.5, 7.8, 9.3],
                            backgroundColor: [
                                '#ffcad0',
                                '#ffcad0',
                                '#ffcad0',
                                '#ffcad0',
                                '#ffcad0',
                                '#ff95a1',
                                '#ff95a1',
                                '#ff95a1',
                                '#ff95a1',
                                '#ff95a1',
                            ],
                            barPercentage: .7,
                            categoryPercentage: .6,
                        }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            display: false,
                            labels: {
                                fontSize: 20,
                            }
                        },
                        scales: {
                            xAxes: [{
                                gridLines: {
                                    offsetGridLines: true,
                                },
                                scaleLabel: {
                                    display: true,
                                    labelString: '罹癌率（%）'
                                },
                                ticks: {
                                    maxTicksLimit: 10,
                                    fontSize: 12,
                                }
                            }],
                            yAxes: [{
                                ticks: {
                                    maxTicksLimit: 10,
                                    fontSize: 14,
                                    fontFamily: fontFamily,
                                }
                            }]
                        },
                        tooltips: {
                            titleFontSize: 16,
                            titleFontFamily: fontFamily,
                            bodyFontSize: 14,
                            titleMarginBottom: 10,
                            xPadding: 8,
                            yPadding: 10,
                        }
                    }
                });
            });
        </script>
    </body>
</html>