//slides
.slides {
    position: relative;

    &__item {
        @include box-sizing(border-box);
    }

    &__arrow {
        width: 56px;
        height: 70px;
        z-index: 20;

        &:before {
            content: '';
            display: block;
            width: 56px;
            height: 70px;
            background-size: 56px 140px;
            background-repeat: no-repeat;
            opacity: 1;
        }

        &--about {
            &:before {
                background-image: url('../images/forum/icon_slides-arrow-gray@3x.png');
            }
        }

        &--intro {
            &:before {
                background-image: url('../images/forum/icon_slides-arrow-white@3x.png');
            }
        }


        &--prev {

            &:before {
                background-position-y: 0;
            }
        }

        &--next {

            &:before {
                background-position-y: -70px;
            }
        }

        &.slick-disabled::before {
            display: none;
        }
    }

    &__dots {
        font-size: 0;
        @include list-reset;
        text-align: center;
        width: 100%;
        margin-top: 20px;

        & > li {
            display: inline-block;
            padding: 0 15px;

            & > button {
                display: inline-block;
                padding: 0;
                border: none;
                border-radius: 50%;
                width: 8px;
                height: 8px;

                &:focus,
                &:hover {
                    outline: none;
                }
            }
        }

        &--about {
            li {
                &.slick-active {
                    button {
                        background-color: forum(navy);
                    }
                }

                button {
                    background-color: forum(gray300);
                }
            }
        }

        &--intro {
            li {
                &.slick-active {
                    button {
                        background-color: forum(navy);
                    }
                }

                button {
                    background-color: forum(gray100);
                }
            }
        }
    }

    &.slick-dotted {
        margin-bottom: 0;
    }
}