//slides
.slides {
    position: relative;

    &__arrow {
        width: 56px;
        height: 70px;
        z-index: 20;
        @include scale(.8);
        @include transition(all, .2s, ease-in-out);

        &:before {
            content: '';
            display: block;
            width: 56px;
            height: 70px;
            background-size: 56px 140px;
            background-repeat: no-repeat;
            opacity: 1;
        }

        &:hover {
            @include scale(1);
        }

        &--gray {
            &:before {
                background-image: url('../images/forum/icon_slides-arrow-gray@3x.png');
            }
        }

        &--white {
            &:before {
                background-image: url('../images/forum/icon_slides-arrow-white@3x.png');
            }
        }

        &--prev {

            &:before {
                background-position-y: 0;
            }
        }

        &--next {

            &:before {
                background-position-y: -70px;
            }
        }

        &.slick-disabled::before {
            display: none;
        }
    }

    &__dots {
        font-size: 0;
        @include list-reset;
        text-align: center;
        width: 100%;
        margin-top: 20px;

        &>li {
            display: inline-block;
            padding: 0 15px;

            &>button {
                display: inline-block;
                padding: 0;
                border: none;
                border-radius: 50%;
                width: 8px;
                height: 8px;

                &:focus,
                &:hover {
                    outline: none;
                }
            }
        }

        &--purple {
            li {
                &.slick-active {
                    button {
                        background-color: color(purple500);
                    }
                }

                button {
                    background-color: color(gray300);
                }
            }
        }

        &--gray {
            li {
                &.slick-active {
                    button {
                        background-color: forum(gray500);
                    }
                }

                button {
                    background-color: forum(gray300);
                }
            }
        }

        &--blue {
            li {
                &.slick-active {
                    button {
                        background-color: forum(blue400);
                    }
                }

                button {
                    background-color: forum(gray100);
                }
            }
        }
    }

    &.slick-dotted {
        margin-bottom: 0;
    }
}

//sweetalert2
.swal2-container {
    .swal2-title {
        font-size: $font-size-24;
    }

    .popup {
        &--speaker {
            .avatar {
                @include wh-square(120px);
                margin: 15px auto 0 auto;
                background: forum(gray200);
            }

            .intro {
                &__name {
                    font-size: $font-size-20;
                    font-weight: $font-weight-bold;
                    color: forum(navy);
                    margin-top: 15px;
                }

                &__title {
                    font-size: $font-size-base;
                    color: forum(gray500);
                    margin-bottom: 20px;
                }
            }

            p {
                text-align: justify;
                font-size: $font-size-base;
                max-width: 420px;
                margin: 0 auto;
                margin-bottom: 20px;
            }
        }

        &--ticket {
            padding: 50px 40px 40px;

            .plan {
                background: forum(white);
                box-shadow: 0 1px 5px -1px rgba(0, 0, 0, .25);
                border-radius: 4px;
                display: block;
                @include transition(all, .3s, ease);

                &__price {
                    padding: 30px 30px 20px 30px;
                    border-bottom: 1px solid forum(gray200);
                    color: forum(black);

                    span {
                        color: forum(gray600);
                        display: block;
                        margin-top: 20px;
                        font-size: $font-size-24;

                        strong {
                            font-size: $font-size-60;
                            padding-left: 10px;
                        }
                    }
                }

                &__content {
                    padding: 20px 30px 30px 30px;
                    color: forum(gray500);

                    ul {
                        text-align: left;
                        min-height: 160px;

                        li {
                            margin-bottom: 10px;
                            position: relative;
                            padding-left: 20px;
                            font-weight: $font-weight-medium;

                            &::before {
                                content: '';
                                display: inline-block;
                                width: 6px;
                                height: 12px;
                                border-color: forum(gray500);
                                border-style: solid;
                                border-width: 0 2px 2px 0;
                                @include rotate(45);
                                position: absolute;
                                left: 0;
                                top: 4px;
                            }

                            &.plus {
                                color: forum(blue400);

                                &::before {
                                    border-color: forum(blue400);
                                }
                            }
                        }
                    }
                    .btn {
                        padding: 11px 20px;
                    }
                }

                &:hover {
                    box-shadow: 0 3px 15px -3px rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
//Large devices (landscape tablets, 1200 and down)
@media only screen and (max-width: $screen-lg) {}

//Medium devices (portrait tablets,landscape phone, 992 and down)
@media only screen and (max-width: $screen-md) {}

//Small devices (landscape tablets, 768 and down)
@media only screen and (max-width: $screen-sm) {
    .slides {
        &__dots {
            >li {
                padding: 0 6px;
            }
        }
    }

    .swal2-container {
        .popup {
            &--ticket {
                padding: 50px 30px 40px 30px;
            }
        }
    }
}

//XSmall devices (portrait phones, 576 and down)
@media only screen and (max-width: $screen-xs) {}