
html {
    scroll-behavior: smooth;
}

body {
    color: forum(navy);
    margin: 0;
    padding: 0;
}

h2 {
    font-size: $font-size-36;
    color: forum(navy);
    margin: 0 0 40px 0;
}

h4 {
    font-size: $font-size-24;
    font-weight: $font-weight-bold;
    color: forum(blue400);
    display: inline-block;
    margin: 0 0 20px 0;
}

h5 {
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    color: forum(gray600);
    display: inline-block;
    margin: 0 0 10px 0;
}

p {
    margin: 0 0 15px 0;
    line-height: 1.6;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;

    ul,
    ol {
        margin-bottom: 0;
    }
}

.container {
    position: relative;
    text-align: center;
}

.wrap {
    max-width: 1140px;
    margin: 0 auto;
}

.section {
    padding: 60px 0;
}

.avatar {
    @include mask-circle;
    width: 100%;
    height: 100%;
}

.header {
    background: transparent;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;

    &__logo {
        float: left;

        &--cancer {
            width: 80px;
            height: 80px;
            background: url('../images/forum/logo_cancer@3x.png') 0 0/cover no-repeat;
            float: left;
            position: relative;

            &:after {
                content: '';
                width: 1px;
                height: 36px;
                background: forum(fuchsia500);
                position: absolute;
                right: 0;
                top: 22px;
            }
        }

        &--forum {
            height: 80px;
            width: 260px;
            background: url('../images/forum/logo_forum@3x.png') 0 0/cover no-repeat;
            float: left;
        }
    }

    .nav {
        float: right;
        padding-right: 20px;

        .menu {
            li {
                display: inline-block;
                font-size: $font-size-base;

                &.active {
                    .menu__name:before {
                        left: 0;
                        right: 0;
                    }
                }
            }

            &__name {
                display: inline-block;
                padding: 31px 12px;
                color: forum(navy);
                position: relative;

                &:before {
                    content: '';
                    display: block;
                    z-index: 1;
                    height: 4px;
                    left: 51%;
                    right: 51%;
                    bottom: 0;
                    @include transition(all, .3s, ease-out);
                    position: absolute;
                    background: forum(navy);
                }

                &:hover {
                    &:before {
                        left: 0;
                        right: 0;
                    }
                }


            }

            &__content {
                display: inline-block;
                vertical-align: middle;

                .btn {
                    padding: 6px 9px;
                    font-weight: $font-weight-medium;
                    width: 70px;
                    margin-right: 10px;


                }

                li:last-child .btn {
                    margin-right: 15px;
                }
            }

            &__highlight {
                position: relative;

                .menu__name {
                    &:before {
                        content: none;
                    }
                }

                &:before {
                    content: '';
                    display: inline-block;
                    background: forum(navy);
                    width: 1px;
                    height: 15px;
                    position: absolute;
                    right: auto;
                    left: 0;
                    top: calc(50% - 8px);
                    bottom: 0;
                }

                &:after {
                    content: '';
                    display: inline-block;
                    background: forum(navy);
                    width: 1px;
                    height: 15px;
                    position: absolute;
                    right: 0;
                    top: calc(50% - 8px);
                    bottom: 0;
                }
            }
        }
    }

    .burger {
        padding: 14px;
        float: right;
        cursor: pointer;
        display: none;

        &__wrap {
            width: 22px;
            height: 22px;
            position: relative;

            span {
                display: block;
                position: absolute;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: forum(navy);
                border-radius: 2px;
                @include rotate(0);
                @include transition(all, .3s, ease);

                &:nth-of-type(1) {
                    top: 1px;
                }

                &:nth-of-type(2), &:nth-of-type(3) {
                    top: 9px;
                }

                &:nth-of-type(4) {
                    top: 17px;
                }
            }
        }

        &.active {
            .burger__wrap {
                span {
                    &:nth-of-type(1), &:nth-of-type(4) {
                        top: 9px;
                        width: 0%;
                        left: 50%;
                    }

                    &:nth-of-type(2), &:nth-of-type(3) {
                        top: 9px;
                    }

                    &:nth-of-type(2) {
                        @include rotate(45);
                    }

                    &:nth-of-type(3) {
                        @include rotate(-45);
                    }
                }
            }
        }
    }
}

.footer {
    @include list-reset;
    background: forum(blue200);
    padding: 30px 0;
    text-align: center;
    color: forum(white);

    ul {
        li {
            display: inline-block;
            font-size: 1.25rem;
            margin: 0 20px 15px 0;

            a {
                color: forum(white);
            }
        }
    }

    p {
        font-size: $font-size-14;
    }
}

.bottom__fixed {
    padding: 10px 0;
    width: 100%;
    background: forum(blue300);
    position: fixed;
    bottom: 0;
    z-index: 99;

    a {
        color: color(white);
        font-size: $font-size-24;
        font-weight: $font-weight-bold;

        > span {
            font-size: $font-size-base;
            padding-left: 20px;
            vertical-align: middle;
        }

        .btn {
            margin-left: 30px;

            .btn__text {
                color: forum(blue400);
            }
        }
    }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
//Large devices (landscape tablets, 1200 and down)
@media only screen and (max-width: $screen-lg) {
    .wrap {
        max-width: 960px;
        margin: 0 auto;
    }

    .header {
        background: forum(white);

        &__logo {
            &--cancer {
                width: 50px;
                height: 50px;

                &:after {
                    height: 24px;
                    top: 13px;
                }
            }

            &--forum {
                width: 165px;
                height: 50px;
            }
        }

        .nav {
            text-align: left;
            padding-right: 0;
            width: 100%;
            height: 100vh;
            float: inherit;
            position: fixed;
            background: forum(white);
            left: 100vw;
            @include transition(left, .6s, ease);

            &.active {
                left: 0;
            }

            .menu {
                padding: 70px 35px;

                li {
                    display: block;
                }

                &__name {
                    padding: 16px 0;
                    width: 100%;
                }


                &__content {
                    display: block;
                    margin-bottom: 15px;

                    li {
                        display: inline-block;

                        .btn {
                            width: auto;
                            margin-right: 5px;
                        }
                    }
                }

                &__highlight {
                    &:before, &:after {
                        content: none;
                    }
                }
            }
        }

        .burger {
            display: block;
        }
    }
}
//Medium devices (portrait tablets,landscape phone, 992 and down)
@media only screen and (max-width: $screen-md) {
    .wrap {
        max-width: 720px;
        margin: 0 auto;
    }
}
//Small devices (landscape tablets, 768 and down)
@media only screen and (max-width: $screen-sm) {
    .wrap {
        max-width: 100%;
        padding: 0 20px;
    }

    .section {
        padding: 40px 0;
    }

    .bottom__fixed {

        a {
            > span {
                display: none;
            }

            .btn {
                margin-left: 20px;
            }
        }
    }
}
//XSmall devices (portrait phones, 576 and down)
@media only screen and (max-width: $screen-xs) {

}