
.container {
    position: relative;
}

.wrap {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    z-index: 5;
}

.wrapper {
    padding: 0 30px;
    @include clearfix;
}

.footer {
    @include list-reset;
}
