
//background
$bg: (
    white: #ffffff,
    purple-light: #c6bfd3,
);

//text
// $texts: (

//     gray100: #393942,
//     gray500: #88888F,
// );

//cancer
$colors: (
    white: #ffffff,
    purple500: #705f92,
    pink500: #ff7b89,

);

//cancer-forum
$forums: (
    white: #ffffff,
    black: #393942,
    gray100: #fafafa,
    gray200: #ebebeb,
    gray300: #dcdcdc,
    gray400: #aaaaaf,
    gray500: #88888f,
    gray600: #66666f,
    navy: #454550,
    blue100: #c9e5fb,
    blue200: #a6d3f9,
    blue400: #5fb1f4,
    blue500: #3ca0f2,
    red300 : #f87260,
    fuchsia500: #8a5082,
    breast: #ffe1dd,
    lung: #adadad,
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}

@function forum($forum-name) {
    @return map-get($forums, $forum-name);
}


// Body
$bg-main: #ffffff;
$bg-sponsor: #e6e3e3;

//color
// $colors: (
//     font-basic: #222222,
//     font-sub: #434141,
//     font-light: #979696,
//     bg-gray100: #f7f7f7,
//     bg-gray200: #e8e8e8,
//     bg-gray300: #d1d1d1,
//     main: #00b8d8,
//     main-dark: #1caacd,
//     main-light: #ddf8ff,
//     sub-yellow: #ffe464,
//     ch: #009944,
//     white: #fff,
//     danger: #f57373
// );

// @function color($color-name) {
//     @return map-get($colors, $color-name);
// }
// @function color($color-name) {
//     @return map-get($bg, $color-name);
// }

@function text($text-name) {
    @return map-get($texts, $text-name);
}


$font-size-base:          1rem !default;
$font-size-14:            0.875rem !default;
$font-size-18:            1.125rem !default;
$font-size-20:            1.25rem !default;
$font-size-22:            1.375rem !default;
$font-size-24:            1.5rem !default;
$font-size-28:            1.75rem !default;
$font-size-30:            1.875rem !default;
$font-size-36:            2.25rem !default;
$font-size-45:            2.8125rem !default;
$font-size-60:            3.75rem !default;

$font-weight-normal:      400 !default;
$font-weight-medium:      500 !default;
$font-weight-bold:        700 !default;

//== Media queries breakpoints
//
// Extra small screen / phone
$screen-xs:                  576px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;
// Small screen / tablet
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;
// Medium screen / desktop
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;
// Large screen / wide desktop
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;
// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;