/*---------- button ----------*/
button {
    padding: 0;
    @include box-sizing(border-box);
    @include appearance(none);
    background-color: transparent;
    border: none;

    &:focus {
        outline: none;
    }
}

.btn {
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    line-height: 1;
    @include box-sizing(border-box);
    @include appearance(none);
    @include transition(all, .3s, ease-in-out);

    &--inblock {
        display: inline-block;
        width: 240px;
    }

    &--block {
        display: block;
        width: 100%;
    }

    &--main {
        padding: 13px 20px;
        border: 1px solid color(violet500);
        background: color(violet500);
        border-radius: 24px;
        position: relative;
        overflow: hidden;

        .btn__text {
            color: forum(white);
            font-size: $font-size-base;
            vertical-align: middle;
        }
    }

    &--sec {
        padding: 13px 20px;
        border: 1px solid color(pink500);
        background: color(pink500);
        border-radius: 24px;
        width: 240px;
        position: relative;
        overflow: hidden;

        .btn__text {
            color: forum(white);
            font-size: $font-size-base;
            vertical-align: middle;
        }
    }

    &--white {
        padding: 13px 20px;
        border: 1px solid color(white);
        background: color(white);
        border-radius: 24px;
        width: 240px;

        .btn__text {
            color: color(violet500);
            font-size: $font-size-base;
            vertical-align: middle;
        }
    }

    &--disable {
        padding: 13px 20px;
        border: 1px solid forum(gray300);
        background: forum(gray300);
        border-radius: 24px;
        width: 240px;
        cursor: not-allowed;

        .btn__text {
            color: forum(gray100);
            font-size: $font-size-base;
            vertical-align: middle;
        }
    }

    &--mainOutline {
        padding: 13px 20px;
        border: 1px solid color(violet500);
        border-radius: 24px;
        font-size: $font-size-base;
        position: relative;
        overflow: hidden;

        .btn__text {
            color: color(violet500);
            font-size: $font-size-base;
            @include transition(all, .6s, ease);
        }

        &:before {
            content: '';
            @include transition(all, .6s, ease);
            @include transform(skew(15deg));
            position: absolute;
            top: -10px;
            left: -10px;
            right: 110%;
            bottom: -10px;
            opacity: 0;
            background: color(violet500);
            z-index: -1;
        }

        &:hover {
            .btn__text {
                color: color(white);
            }

            &:before {
                right: -10px;
                opacity: 1;
            }
        }
    }

    &--secOutline {
        padding: 13px 20px;
        border: 1px solid color(pink500);
        border-radius: 24px;
        position: relative;
        overflow: hidden;

        .btn__text {
            color: color(pink500);
            font-size: $font-size-base;
            @include transition(all, .6s, ease);
        }

        &:before {
            content: '';
            @include transition(all, .6s, ease);
            @include transform(skew(15deg));
            position: absolute;
            top: -10px;
            left: -10px;
            right: 110%;
            bottom: -10px;
            opacity: 0;
            background: color(pink500);
            z-index: -1;
        }

        &:hover {
            .btn__text {
                color: color(white);
            }

            &:before {
                right: -10px;
                opacity: 1;
            }
        }
    }


    &--forumOutline {
        padding: 13px 20px;
        border: 1px solid forum(navy);
        border-radius: 24px;
        width: 240px;
        position: relative;
        overflow: hidden;

        .btn__text {
            color: forum(navy);
            font-size: $font-size-base;
            @include transition(all, .6s, ease);
        }

        &:before {
            content: '';
            @include transition(all, .6s, ease);
            @include transform(skew(15deg));
            position: absolute;
            top: -10px;
            left: -10px;
            right: 110%;
            bottom: -10px;
            opacity: 0;
            background: forum(navy);
            z-index: -1;
        }

        &:hover {
            .btn__text {
                color: forum(white);
            }

            &:before {
                right: -10px;
                opacity: 1;
            }
        }
    }

    &--forumOutlineSec {
        padding: 13px 20px;
        border: 1px solid forum(gray600);
        border-radius: 24px;
        width: 240px;
        position: relative;
        overflow: hidden;

        .btn__text {
            color: forum(gray600);
            font-size: $font-size-base;
            @include transition(all, .6s, ease);
        }

        &:before {
            content: '';
            @include transition(all, .6s, ease);
            @include transform(skew(15deg));
            position: absolute;
            top: -10px;
            left: -10px;
            right: 110%;
            bottom: -10px;
            opacity: 0;
            background: forum(gray600);
            z-index: -1;
        }

        &:hover {
            .btn__text {
                color: forum(white);
            }

            &:before {
                right: -10px;
                opacity: 1;
            }
        }
    }

    &--forumMain {
        padding: 13px 20px;
        border: 1px solid forum(navy);
        background: forum(navy);
        border-radius: 24px;
        width: 240px;
        position: relative;
        overflow: hidden;

        .btn__text {
            color: forum(white);
            font-size: $font-size-base;
            vertical-align: middle;
            @include transition(all, .6s, ease);
        }

        &:hover {

            &:before {
                right: -10px;
                opacity: 1;
            }
        }
    }

    &--forumHighlight {
        padding: 13px 20px;
        border: 1px solid forum(red300);
        background: forum(red300);
        border-radius: 24px;
        position: relative;
        overflow: hidden;

        .btn__text {
            color: forum(white);
            font-size: $font-size-base;
            vertical-align: middle;
            @include transition(all, .6s, ease);
        }
    }

    &--forumBuy {
        border-radius: 24px;
        width: 200px;
        padding: 11px 20px;
        @include animation(btnScale, 2s, infinite, ease, 0);

        @keyframes btnScale {

            0%,
            100% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.1);
            }
        }

        .btn__text {
            color: forum(white);
            font-size: $font-size-base;
            vertical-align: middle;
            @include transition(all, .6s, ease);
        }
    }

    &--sm {
        padding: 10px 15px;
        border-radius: 24px;
        width: 150px;
    }

    &--xs {
        padding: 2px 15px;
        border-radius: 24px;
        width: 100px;
    }

}

/*---------- alert ----------*/
.alert {
    position: fixed;
    top: 0;
    width: 100%;
    background: color(fuchsia100);
    z-index: 99;
    padding: 20px 0;
    right: 0;
    display: none;
    @include transition(all, .3s, ease-in-out);

    &__content {
        width: calc(100% - 270px);
        max-width: 800px;
        text-align: justify;
        line-height: 1.4;
        display: inline-block;
        color: color(black);
    }

    &__action {
        width: 240px;
        margin-left: 20px;
        line-height: 0;
        float: right;

    }
}


.recommend {
    &--list {}

    &__media {
        line-height: 0;
        width: 100%;
        padding-top: 50%;
        overflow: hidden;
        position: relative;

        >img {
            @include transition(all, .3s, ease);
            @include scale(1);
        }

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: color(white);
            opacity: 0;
            z-index: 1;
            @include transition(all, .3s, ease);
        }

        >img {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &__text {
        margin-top: 10px;
        font-size: $font-size-20;
        font-weight: $font-weight-medium;
        line-height: 1.4;
        color: color(black);

        .icon {
            &__video {
                float: left;
                margin-right: 15px;

                .icon__text {
                    display: block;
                }
            }
        }

        .desc {
            display: block;
            width: calc(100% - 55px);
            float: left;
            @include line-clamp(2);
        }
    }

    &:hover {
        .recommend__media {

            img {
                @include scale(1.02)
            }

            &:before {
                opacity: .15;
            }
        }
    }
}

/*---------- grid ----------*/
.grid {
    @include list-reset;
    @include clearfix;
    position: relative;

    img {
        width: 100%;
    }

    &>li {
        position: relative;
        float: left;
        @include box-sizing(border-box);
    }

    &.more {
        li {
            display: none;
        }
    }

    &--month {
        margin: 0 -30px;

        &>li {
            width: (100%/3);
            padding: 0 15px;
            margin-bottom: 30px;

            &:first-child {
                width: calc(100% / 3 * 2);
                margin-left: calc(100% / 3);
            }
        }
    }

    &--topic {
        margin: 0 -30px;

        &>li {
            width: (100%/3);
            padding: 0 15px;
            margin-bottom: 30px;
        }

        &.top {
            li:first-child {
                width: calc(100% / 3 * 2);
                float: right;
            }
        }
    }

    &--video {
        margin: 0 -15px;

        &>li {
            width: (100%/3);
            padding: 0 15px;
            margin-bottom: 30px;
        }

        &.top {
            li:first-child {
                width: calc(100% / 3 * 2);
                float: left;
            }

            li:nth-child(2) {
                width: calc(100% / 3);
                float: right;
            }

            li:nth-child(3) {
                clear: left;
            }
        }

        &.more {
            li {
                display: none;
            }
        }
    }

    &--hscroll {
        margin: 0 -10px;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;

        &>li {
            flex: 0 0 auto;
            width: 20%;
            padding: 0 10px;
            margin-bottom: 30px;
        }
    }

    &--three {
        margin: 0 -15px;

        &>li {
            width: calc(100% / 3);
            padding: 0 15px;
            margin-bottom: 30px;
        }
    }

    //forum
    &--tp {
        margin: 0 -15px;

        &>li {
            width: (100%/3);
            padding: 0 15px;
            margin-bottom: 25px;
        }
    }

    &--buy {
        margin: 0 -15px;

        &>li {
            width: (100%/3);
            padding: 0 15px;
        }
    }

    &--plan {
        margin: 30px -15px 0 -15px;

        &>li {
            width: 50%;
            padding: 0 15px;
        }
    }

    &--info {
        margin: 0 -15px;

        &>li {
            width: 50%;
            padding: 0 15px;
        }
    }
}

/*---------- icon ----------
 *	.icon:			使用:before (預設)
 *	.icon--a:		使用:after
 *	.icon__text:	文字與:before/:after產生margin: 3px
 */

.icon {
    display: inline-block;

    &:before,
    &:after {
        background-repeat: no-repeat;
    }

    &:before {
        content: '';
    }

    &>.icon__text {
        display: inline-block;
        vertical-align: middle;
        font-style: normal;
    }

    &.icon--a,
    &.icon--b {
        &>.icon__text {
            display: inline-block;

            vertical-align: middle;
            font-style: normal;
        }
    }

    &.icon--single {

        &:before,
        &:after {
            display: block;
        }

        .icon__text {
            display: block;
        }
    }

    &.icon--a {
        &:before {
            content: none;
        }

        &:after {
            content: "";
            display: inline-block;
            vertical-align: middle;
        }
    }

    &.icon--b {
        &:after {
            content: none;
        }

        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
        }
    }
}

%icon-about {

    &:before,
    &:after {
        @include wh-square(210px);
        background-image: url('../images/forum/img_desc@3x.png');
        background-size: 210px 1260px;
        background-position-x: 0;
        margin: 0 auto;
        display: block;
    }
}

.icon__about {
    @extend %icon-about;
    line-height: 1.5;
    margin-top: 40px;

    .icon__text {
        margin: 10px 0;
        color: forum(blue500);
        font-weight: $font-weight-bold;
        font-size: $font-size-24;
    }

    &--news {

        &:before,
        &:after {
            background-position-y: 0;
        }
    }

    &--talk {

        &:before,
        &:after {
            background-position-y: -210px;
        }
    }

    &--plan {

        &:before,
        &:after {
            background-position-y: -420px;
        }
    }

    &--download {

        &:before,
        &:after {
            background-position-y: -630px;
        }
    }
}

%icon-promote {

    &:before,
    &:after {
        @include wh-square(300px);
        background-image: url('../images/forum/img_desc@3x.png');
        background-size: 300px 1800px;
        background-position-x: 0;
        margin: 0 auto;
        display: block;
    }
}

.icon__promote {
    @extend %icon-promote;
    line-height: 1.5;

    &--edm {

        &:before,
        &:after {
            background-position-y: -1200px;
        }
    }

    &--content {

        &:before,
        &:after {
            background-position-y: -1500px;
        }
    }
}

%icon-video {
    vertical-align: top;

    &:before,
    &:after {
        width: 35px;
        height: 30px;
        background-image: url('../images/icon_video@3x.png');
        background-size: 35px 60px;
        background-position-x: 0;
        margin: 0 auto;
        display: block;
    }
}

.icon__video {
    @extend %icon-video;

    &--violet {

        &:before,
        &:after {
            background-position-y: 0;
        }

        .icon__text {
            color: color(violet500);
            font-size: $font-size-14;
            margin-top: 5px;
        }
    }

    &--pink {

        &:before,
        &:after {
            background-position-y: -30px;
        }
    }
}

%icon-traffic {
    position: relative;

    &:before,
    &:after {
        @include wh-square(44px);
        background-image: url('../images/forum/icon_traffic@3x.png');
        background-size: 44px 176px;
        background-position-x: 0;
        display: block;
        position: absolute;
        left: 0;
    }
}

.icon__traffic {
    @extend %icon-traffic;

    &--bus {

        &:before,
        &:after {
            background-position-y: 0;
        }
    }

    &--mrt {

        &:before,
        &:after {
            background-position-y: -44px;
        }
    }

    &--train {

        &:before,
        &:after {
            background-position-y: -88px;
        }
    }

    &--car {

        &:before,
        &:after {
            background-position-y: -132px;
        }
    }
}

%icon-ticket {

    &:before,
    &:after {
        width: 110px;
        height: 170px;
        background-image: url('../images/forum/img_ticket@3x.png');
        background-size: 110px 510px;
        background-position-x: 0;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
    }
}

.icon__ticket {
    @extend %icon-ticket;

    &--breast {

        &:before,
        &:after {
            background-position-y: 0;
        }
    }

    &--colorectal {

        &:before,
        &:after {
            background-position-y: -170px;
        }
    }

    &--lung {

        &:before,
        &:after {
            background-position-y: -340px;
        }
    }
}

%icon-social {
    position: relative;

    &:before,
    &:after {
        @include wh-square(50px);
        background-image: url('../images/forum/icon_social@3x.png');
        background-size: 50px 150px;
        background-position-x: 0;
        display: block;
        position: absolute;
        left: 0;
    }
}

.icon__social {
    @extend %icon-social;

    &--gotop {

        &:before,
        &:after {
            background-position-y: 0;
        }
    }

    &--fb {

        &:before,
        &:after {
            background-position-y: -50px;
        }
    }

    &--line {

        &:before,
        &:after {
            background-position-y: -100px;
        }
    }
}

/*---------- alignment ----------*/
.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-justify {
    text-align: justify !important;
}

.text-nowrap {
    white-space: nowrap !important;
}

.d-bk {
    display: block;
}

.d-inbk {
    display: inline-block;
}

/*---------- visibility ----------*/
.mbonly {
    display: none;
}

.pconly {
    display: block;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
//Large devices (landscape tablets, 1200 and down)
@media only screen and (max-width: $screen-lg) {
    .alert {
        top: 50px;
        padding: 15px 0;

        &__content {
            width: 100%;
            float: none;
        }

        &__action {
            width: 100%;
            float: none;
            margin: 15px 0 0 0;
            text-align: center;
        }
    }

    .mbonly {
        display: block;
    }

    .pconly {
        display: none;
    }
}

//Medium devices (portrait tablets,landscape phone, 992 and down)
@media only screen and (max-width: $screen-md) {
    .grid {
        &--month {
            margin: 0;
            width: 100%;

            &>li,
            li:first-child {
                width: 100%;
                padding: 0;
                margin-bottom: 30px;
                margin-left: 0;
            }
        }

        &--topic {
            margin: 0;

            &.top {

                &>li,
                li:first-child {
                    padding: 0;
                    width: 100%;
                    float: none;
                }
            }

            &.more {
                &>li {
                    padding: 0;
                    width: 100%;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        &--video {
            margin: 0 -15px;

            &>li {
                width: (100%);
                padding: 0 15px;
                margin-bottom: 15px;
            }

            &.top {
                li:first-child {
                    width: calc(100%);
                    float: left;
                }

                li:nth-child(2) {
                    width: calc(100%);
                    float: leftㄋ;
                }

                li:nth-child(3) {
                    clear: left;
                }
            }

            &.more {
                li {
                    display: none;
                }
            }
        }

        &--hscroll {

            &>li {
                width: 240px;
            }
        }

        &--three {
            &>li {
                width: 100%;
            }
        }

        //forum
        &--about {
            margin: 0 -20px;

            &>li {
                width: (100%/2);
                padding: 0 20px;
                margin-bottom: 25px;

                &:nth-of-type(2n+1) {
                    clear: left;
                }
            }
        }

        &--tp {
            &>li {
                width: 100%;
                padding: 0;
                margin-bottom: 0;
            }
        }

        &--buy {

            &>li {
                width: 100%;

                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
        }

        &--plan {
            margin: 30px -15px 0 -15px;

            &>li {
                width: 100%;
                padding: 0 15px;

                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
        }

        &--info {
            margin: 0 -15px;

            &>li {
                width: 100%;
                padding: 0 15px;

                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
        }
    }
}

//Small devices (landscape tablets, 768 and down)
@media only screen and (max-width: $screen-sm) {

    .recommend {
        &--list {
            .recommend {
                &__media {
                    width: 120px;
                    padding-top: 60px;
                    float: left;
                    margin-right: 10px;
                }

                &__text {
                    margin-top: 0;
                    font-size: $font-size-base;
                    width: calc(100% - 130px);
                    float: left;

                    .icon {
                        &__video {
                            line-height: 1;

                            &:before {
                                height: 18px;
                                width: 21px;
                                background-size: cover;
                            }

                            .icon__text {
                                display: inline-block;
                                margin: 0 0 0 5px;
                            }
                        }
                    }

                    .desc {
                        display: block;
                        width: 100%;
                        height: 40px;
                        float: left;
                    }
                }
            }
        }
    }
}

//XSmall devices (portrait phones, 576 and down)
@media only screen and (max-width: $screen-xs) {}