@import "variables";
@import "mixin";
@import "normalize";
@import "helper";
@import "widget";
@import "layout-forum";

#kv {
    height: 800px;
    position: relative;
    padding: 0;
    background-size: 100%;
    text-align: left;

    .kv {
        &__content {
            position: absolute;
            left: 50%;
            top: 45%;
            z-index: 3;

            &--logotype {
                width: 470px;
                height: 100px;
                background: url('../images/forum/img_kv-logotype@3x.png') 0 0/contain no-repeat;
                margin-bottom: 25px;
            }

            &--desc {
                width: 85%;
                color: forum(gray500);
                line-height: 1.6;
                text-align: justify;
            }
        }

        &__background {
            background: url('../images/forum/img_kv-bg.jpg');
            overflow: hidden;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 100px;
                background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
                position: absolute;
                bottom: 0;
            }

            &--circle {
                width: 1260px;
                height: 1260px;
                position: absolute;
                top: -400px;
                left: -315px;

                #circle {
                    mix-blend-mode: hard-light;
                    opacity: .5;
                    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.2))
                }
            }

            &--people1 {
                width: 185px;
                height: 250px;
                background: url('../images/forum/img_kv-people1@3x.png') 0 0/contain no-repeat;
                position: absolute;
                top: 650px;
                left: 500px;
                z-index: 2;
                @include animation(jump1, 6s, infinite, ease-in, 0s);
            }

            &--people2 {
                width: 190px;
                height: 240px;
                background: url('../images/forum/img_kv-people2@3x.png') 0 0/contain no-repeat;
                position: absolute;
                top: 650px;
                left: 820px;
                z-index: 2;
                @include animation(jump2, 3s, infinite, ease-in, 1s);
            }

            &--people3 {
                width: 150px;
                height: 270px;
                background: url('../images/forum/img_kv-people3@3x.png') 0 0/contain no-repeat;
                position: absolute;
                top: 800px;
                left: 320px;
                z-index: 2;
                @include animation(jump3, 6s, infinite, ease-in, 0s);
            }

            &--people4 {
                width: 160px;
                height: 180px;
                background: url('../images/forum/img_kv-people4@3x.png') 0 0/contain no-repeat;
                position: absolute;
                top: 100px;
                left: 200px;
                z-index: 2;
                @include animation(jump2, 4s, infinite, ease-in, 0s);
            }

            &--ribbon1 {
                width: 1000px;
                height: 600px;
                background: url('../images/forum/img_kv-ribbon1@3x.png') 0 0/contain no-repeat;
                position: absolute;
                top: 610px;
                left: -50px;
                z-index: 1;
            }

            &--ribbon2 {
                position: absolute;
                z-index: 1;
                top: 20px;
                right: 0;
                width: 550px;
                height: 263px;
                background: url('../images/forum/img_kv-ribbon2@3x.png') 0 0/contain no-repeat;
            }

            @keyframes jump1 {
                0%, 100% {
                  transform: scale(.95) translateY(0) rotate(0);
                  @include transformOrigin(100px, 170px);
                }
                50% {
                    transform: scale(1) translateY(-20px) rotate(3deg);
                }
            }

            @keyframes jump2 {
                0%, 100% {
                    transform: scale(.95) translateY(0);

                }
                50% {
                    transform: scale(1) translateY(-10px);

                }
            }

            @keyframes jump3 {
                0%, 100% {
                    transform: scale(.95) translateY(0);

                }
                50% {
                    transform: scale(1) rotate(5deg);

                }
            }
        }

        &__action {
            margin-top: 25px;

            .btn {
                padding: 9px 15px 7px 15px;
                width: 135px;

                &:not(:last-child) {
                    margin-right: 15px;
                }

                &__text {
                    font-size: $font-size-24;
                    font-weight: $font-weight-medium;
                }
            }
        }
    }

    &:after {
        content: '';
        display: block;
        width: 270px;
        height: 365px;
        background: url('../images/forum/img_kv-ribbon3@3x.png') 0 0/contain no-repeat;
        position: absolute;
        right: 0;
        bottom: -100px;
        z-index: 1;
    }
}

#about {
    .about__slides {
        margin: 0 15px;
    }

    li>div {
        padding: 0 20px;
    }

    p {
        max-width: 800px;
        margin-right: auto;
        margin-left: auto;
        text-align: justify;
    }
}

#intro {
    background: forum(blue100);

    .container {
        padding: 0 60px;
        @include box-sizing(border-box);
    }

    .intro {
        &__slides {
            margin: 0 15px;
        }

        &__info {
            padding: 20px 0;
            cursor: pointer;

            &:hover {
                .intro {
                    &__avatar {
                        mix-blend-mode: multiply;

                        .avatar {
                            mix-blend-mode: multiply;
                        }

                        &:after {
                            @include wh-square(250px);
                            right: 0;
                            left: 0;
                            bottom: -10px;
                        }
                    }
                }

                .btn {
                    .btn__text {
                        color: forum(white);
                    }

                    &:before {
                        right: -10px;
                        opacity: 1;
                    }
                }
            }
        }

        &__avatar {
            position: relative;
            width: 250px;
            margin: 0 auto;
            mix-blend-mode: normal;
            @include transition(all, .6s, ease-in-out);

            .avatar {
                @include wh-square(230px);
                margin: 0 auto;
                background: forum(gray400);
                mix-blend-mode: normal;
                @include transition(all, .6s, ease-in-out);
            }

            &:after {
                content: '';
                @include wh-square(70px);
                @include transition(all, .6s, ease-in-out);
                @include mask-circle;
                transform-origin: bottom left;
                display: block;
                position: absolute;
                right: 0;
                left: -10px;
                bottom: 0;
                background: forum(blue200);
                z-index: 1;
                mix-blend-mode: multiply;
            }
        }

        &__name {
            font-size: $font-size-20;
            font-weight: $font-weight-bold;
            color: forum(navy);
            margin: 20px 0 15px 0;
        }

        &__title {
            font-size: $font-size-base;
            color: forum(gray500);
            margin-bottom: 20px;
        }
    }
}

.action {
    margin-top: 25px;
}

.memo {
    color: forum(gray500);
    font-size: $font-size-base;
}

#agenda {
    background: forum(gray100);
    position: relative;

    >.wrap {
        position: relative;
        z-index: 1;
    }

    .agenda {
        position: relative;
        border-bottom: 2px solid forum(gray100);
        background: forum(white);
        padding: 25px 40px;
        overflow: hidden;

        &__info {
            text-align: left;
            width: calc(100% - 135px);
        }

        &__time {
            color: forum(blue400);
            font-weight: $font-weight-medium;
            font-size: $font-size-20;
            margin-bottom: 20px;

            >span {
                &:before {
                    content: '';
                    display: inline-block;
                    width: 1px;
                    height: 16px;
                    border-left: 2px solid forum(blue400);
                    margin: 0 10px;
                }
            }
        }

        &__speaker {
            margin-bottom: 15px;
            position: relative;

            .name {
                font-size: $font-size-24;
                font-weight: $font-weight-bold;
                color: forum(gray600);
                display: inline-block;
                cursor: pointer;
            }

            .title {
                font-size: $font-size-20;
                font-weight: $font-weight-normal;
                color: forum(gray500);
                display: inline-block;
                line-height: 1.6;
                cursor: pointer;

                &:before {
                    content: '/';
                    margin: 0 5px;
                }
            }

            .tag {
                font-size: $font-size-14;
                color: forum(gray500);
                line-height: 1;
                padding: 5px 10px;
                border: 1px solid forum(gray500);
                display: inline-block;
                margin-right: 15px;
                vertical-align: text-bottom;
            }
        }

        &__avatar {
            width: 100px;
            height: 100px;
            position: absolute;
            top: calc(50% - 50px);
            right: -135px;
            cursor: pointer;

            .avatar {
                background: forum(gray200);
            }
        }

        &__desc {
            font-size: $font-size-base;
            color: forum(gray500);
            line-height: 1.6;
            margin-top: 15px;
        }

        &--tp {
            .agenda {

                &__time {
                    text-align: center;
                }

                &__info {
                    width: 100%;
                }

                &__speaker {
                    text-align: left;

                    .title {
                        display: block;
                        font-size: $font-size-20;
                        font-weight: $font-weight-normal;
                        color: forum(gray500);
                        margin-top: 10px;
                        line-height: 1.4;

                        &:before {
                            content: none;
                        }
                    }
                }
            }

            .session {
                text-align: center;
                padding: 20px 15px;
                margin-top: 20px;
                position: relative;

                &__title {
                    font-size: $font-size-24;
                    font-weight: $font-weight-medium;
                    margin-bottom: 15px;
                    position: relative;
                    z-index: 1;

                    >span {
                        color: forum(gray500);
                        font-size: $font-size-base;
                        margin-top: 10px;
                        display: none;
                    }
                }

                &:after {
                    content: '';
                    height: 100px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    z-index: 0;
                }

                &--breast {

                    .session__title {
                        color: forum(red300);
                    }

                    &:after {
                        background: forum(breast);
                    }
                }

                &--colorectal {

                    .session__title {
                        color: forum(blue400);
                    }

                    &:after {
                        background: forum(blue100);
                    }
                }

                &--lung {

                    .session__title {
                        color: forum(gray600);
                    }

                    &:after {
                        background: forum(gray300);
                    }
                }
            }

            .agenda__avatar {
                position: relative;
                top: unset;
                right: unset;
                display: inline-block;
                z-index: 1;
                margin: 0 8px 20px 8px;
            }
        }

        &__bg {
            background-image: url('../images/forum/img_deco@3x.png');
            background-size: 500px 1260px;
            position: absolute;

            &--ribbon01 {
                width: 500px;
                height: 300px;
                background-position-y: 0;
                top: 0;
                z-index: 0;
            }

            &--ribbon02 {
                width: 330px;
                height: 380px;
                background-position-y: -300px;
                top: 50%;
                left: 0;
                z-index: 0;
            }

            &--ribbon03 {
                width: 120px;
                height: 330px;
                background-position-y: -680px;
                top: 30%;
                right: 0;
                z-index: 1;
            }

            &--ribbon04 {
                width: 120px;
                height: 250px;
                background-position-y: -1010px;
                top: calc(100% - 400px);
                right: 0;
                z-index: 1;
            }
        }
    }

    .action {
        display: none;

        .btn {
            z-index: 1;
            margin: 0 auto;
        }
    }

    .break {
        padding: 18px;
        color: forum(gray500);
        font-size: $font-size-24;
    }

    .memo {
        text-align: right;
        margin-top: 15px;
    }
}

#ticket {
    position: relative;
    padding-bottom: 40px;

    .info {
        text-align: left;
        line-height: 1.6;
        display: inline-block;
        margin: 0 auto;

        a {
            color: forum(blue400);
            text-decoration: underline;
        }

        >ul>li {
            margin-bottom: 15px;
            font-size: $font-size-20;

            >ul {
                display: inline-block;
                vertical-align: top;
            }
        }
    }

    .buy {
        margin-top: 40px;

        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 200px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            background: forum(gray200);
            z-index: -1;
        }

        .session {
            display: block;
            background: forum(white);
            border-radius: 4px;
            padding: 30px 0;
            width: 100%;
            box-shadow: 0 1px 5px -1px rgba(0, 0, 0, .25);
            position: relative;
            overflow: hidden;
            cursor: pointer;
            @include transition(all, .3s, ease);

            &:hover {
                box-shadow: 0 3px 15px -3px rgba(0, 0, 0, .1);

                .icon__ticket:before {
                    @include scale(30);
                    @include transition(transform, 1.5s, ease);
                }
            }

            &__title {
                color: forum(navy);
                font-size: $font-size-20;
                margin-bottom: 25px;

            }

            &__type {
                color: forum(gray600);
                font-size: $font-size-30;
                font-weight: $font-weight-bold;
            }

            &--breast {
                .session__type>span {
                    color: forum(red300);
                }

                .btn {
                    border-color: forum(red300);
                    background: forum(red300);
                }
            }

            &--colorectal {
                .session__type>span {
                    color: forum(blue400);
                }

                .btn {
                    border-color: forum(blue400);
                    background: forum(blue400);
                }
            }

            &--lung {
                .session__type>span {
                    color: forum(lung);
                }

                .btn {
                    border-color: forum(gray600);
                    background: forum(gray600);
                }
            }
        }
    }

    .form {
        background-color: forum(gray200);
        height: 725px;
        margin-top: 20px;

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

#notic {
    text-align: left;

    .notic {
        font-size: $font-size-base;
        margin-bottom: 40px;

        ol {
            line-height: 1.6;
            list-style-type: decimal;
            padding-left: 20px;

            li>ul,
            ul>li {
                vertical-align: top;
            }
        }

        ul.alpha {
            list-style-type: lower-alpha;
            list-style-position: inside;
        }
    }

    .accordion {
        background: forum(gray100);
        margin-bottom: 2px;
        font-size: $font-size-base;
        line-height: 1.6;

        &__head {
            color: forum(gray600);
            padding: 15px 40px 15px 20px;
            cursor: pointer;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                top: calc(50% - 5px);
                right: 15px;
                @include arrow-down(8px, 2px, forum(gray600));
            }
        }

        &__body {
            color: forum(gray500);
            padding: 15px 40px 15px 20px;
            text-align: justify;
            display: none;
        }

        &.active {
            .accordion__head {
                &:after {
                    @include arrow-up(8px, 2px, forum(gray600));
                }
            }
        }
    }

    a {
        color: forum(blue400);
        text-decoration: underline;
    }
}

#traffic {
    background: forum(blue100);
    overflow: hidden;
    position: relative;

    .title {
        float: left;
        width: calc(60% - 50px);
        text-align: left;
    }

    .traffic {
        &__map {
            float: right;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 40%;

            iframe {
                width: 100%;
                height: 100%;
            }
        }

        &__info {
            width: calc(60% - 50px);
            text-align: left;

            .icon__traffic {
                padding-left: 55px;

                &:not(:last-child) {
                    margin-bottom: 30px;
                }

                p {
                    color: forum(gray600);
                    font-size: $font-size-base;
                }
            }
        }
    }
}

#promote {

    .title {
        >span {
            font-size: $font-size-base;
            font-weight: $font-weight-medium;
            display: block;
        }
    }

    .subtitle {
        color: forum(blue400);
        font-size: $font-size-24;
        font-weight: $font-weight-bold;
        margin-bottom: 15px;
    }

    .promote {
        &__item {
            overflow: hidden;
            text-align: left;

            &:not(:first-child) {
                margin-top: 40px;
            }

            &:nth-child(odd) {
                .promote__desc {
                    float: left;
                }

                .icon__promote {
                    float: right;
                }
            }

            &:nth-child(even) {
                .promote__desc {
                    float: right;
                }

                .icon__promote {
                    float: left;
                }
            }
        }

        &__desc {
            width: calc(100% - 340px);
        }
    }
}

#sponsor {
    background: forum(gray100);

    .subtitle {
        margin-bottom: 15px;
    }

    img {
        margin-bottom: 25px;

        &:not(:first-of-type) {
            margin-left: 20px;
        }
    }
}


/* ==========================================================================
   Media Queries
   ========================================================================== */
//Large devices (landscape tablets, 1200 and down)
@media only screen and (max-width: $screen-lg) {
    #kv {
        &__content {
            position: absolute;
            right: calc(50% - 470px);
            top: 45%;
            z-index: 3;

            &--desc {
                max-width: 470px;
                color: forum(gray500);
                line-height: 1.6;
            }
        }

        &:after {
            content: none;
        }
    }
}

//Medium devices (portrait tablets,landscape phone, 992 and down)
@media only screen and (max-width: $screen-md) {
    #kv {
        height: 600px;

        .kv {
            &__background {
                &--ribbon2 {
                    display: none;
                }

                &--people3 {
                    display: none;
                }

                &--circle {
                    top: -550px;
                }
            }

            &__content {
                left: calc(50% - 300px);
                top: calc(50% + 40px);

                &--desc {
                    width: 100%;
                }
            }
        }
    }

    #agenda {
        .agenda {
            &__bg {
                display: none;
            }

            &--tp {

                .session {
                    text-align: center;
                    padding: 20px 15px;
                    margin-top: 20px;
                    position: relative;

                    &__title {

                        >span {
                            display: block;
                        }
                    }

                    &:after {
                        height: 150px;
                    }
                }
            }
        }
    }

    #ticket {
        .buy {
            &:after {
                content: '';
                height: 570px;
                bottom: 80px;
            }
        }
    }
}

//Small devices (landscape tablets, 768 and down)
@media only screen and (max-width: $screen-sm) {
    #kv {
        height: 650px;

        .kv {
            &__background {
                &--circle {
                    width: 100%;
                    top: -400px;

                    #circle {
                        width: 1000px;
                        height: 1000px;
                    }
                }

                &--people1 {
                    width: 150px;
                    height: 210px;
                    top: 490px;
                    left: 415px;
                    z-index: 2;
                }

                &--people2 {
                    width: 150px;
                    height: 190px;
                    top: 480px;
                    right: -230px;
                    left: auto;
                    z-index: 2;
                }

                &--ribbon1 {
                    width: 800px;
                    height: 435px;
                    left: 0;
                    top: 430px;
                }
            }

            &__content {
                left: 20px;
                right: 20px;

                &--logotype {
                    width: 90%;
                    height: auto;
                    padding-top: 20%;
                }

                &--desc {
                    width: 100%;
                }
            }
        }
    }

    #agenda {
        .wrap {
            padding: 0;
        }

        .agenda {
            padding: 20px;

            &__info {
                width: 100%;
            }

            &__time {
                margin-bottom: 15px;
            }

            &__speaker {

                .title {
                    display: block;
                    margin-top: 10px;
                    width: calc(100% - 90px);

                    &:before {
                        content: none;
                    }
                }
            }

            &__avatar {
                @include wh-square(70px);
                top: 0;
                right: 10px;
            }

            &__desc {
                display: none;
            }

            &--tp .session {
                margin-top: 0;
            }

            .action {
                display: block;
            }
        }

        .memo {
            padding-left: 20px;
            text-align: left;
        }
    }

    #ticket {
        .form {
            height: 1055px;
        }
    }

    #traffic {

        .title {
            width: 100%;
            text-align: center;
        }

        .traffic {
            &__map {
                position: relative;
                float: none;
                overflow: hidden;
                height: 400px;
                margin: 0 -20px 30px -20px;
                width: calc(100% + 40px);
            }

            &__info {
                width: 100%;
            }
        }
    }

    #promote {
        .promote {
            &__desc {
                width: 100%;
            }
        }

        .subtitle {
            margin-bottom: 10px;
        }

        .icon__promote {
            display: none;
        }

        .action {
            text-align: center;
        }
    }
    #notic {
        .accordion {
            &__head {
                padding: 15px 40px 15px 15px;
            }

            &__body {
                padding: 15px;
            }
        }
    }
}

//XSmall devices (portrait phones, 576 and down)
@media only screen and (max-width: $screen-xs) {
    #kv {
        .kv {
            &__background {
                &--circle {
                    left: -370px;
                }

                &--people2 {
                    right: -360px;
                    left: auto;
                }

                &--ribbon1 {
                    left: -50px;
                }
            }

            &__content {
                top: 45%;

                &--logotype {
                    margin-bottom: 15px;
                }

                &--desc {
                    width: 100%;
                }
            }

            &__action {
                .btn {
                    display: block;
                    width: 100%;

                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }

    #traffic {
        .traffic {
            &__map {
                height: 200px;
            }
        }
    }
}