@import "variables";
@import "mixin";
@import "normalize";
@import "helper";
@import "widget";
@import "layout";

.slides {
    &__content {
        position: absolute;
        bottom: 120px;
        right: 0;
        padding: 40px 40px 40px 30px;
        background: color(white);
        width: calc(50% - 70px);

        .title {
            font-size: $font-size-36;
            font-weight: $font-weight-bold;
            color: color(black);

            span {
                font-size: $font-size-20;
                display: block;
                margin-bottom: 5px;
            }
        }
    }

    &__media img {
        width: 100%;
        height: auto;
    }
}

.action.more {
    text-align: center;
    margin-top: 10px;
}

.slick-dots {
    top: 30px;
    right: 40px;
    bottom: unset;
    width: auto;
}

#topslide {
    position: relative;
    padding: 0;
    @include transition(all, .6s, ease-in-out);
}

#cure {
    background: color(violet100);
}


.tag {
    display: inline-block;
    margin-left: 20px;
    color: color(black);
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
//Large devices (landscape tablets, 1200 and down)
@media only screen and (max-width: $screen-lg) {}

//Medium devices (portrait tablets,landscape phone, 992 and down)
@media only screen and (max-width: $screen-md) {}

//Small devices (landscape tablets, 768 and down)
@media only screen and (max-width: $screen-sm) {

    .slides {
        &__content {
            position: relative;
            bottom: unset;
            width: calc(100% - 40px);
            padding: 20px;
        }
    }

    .slick-dots {
        top: 18px;
        right: 15px;
    }

    .tag {
        margin: 0 0 20px 0;

    }

    #todo {
        .icon__video {
            float: left;
        }
    }
}

//XSmall devices (portrait phones, 576 and down)
@media only screen and (max-width: $screen-xs) {}